<style>
    .tissue
    {
        fill: rgb(204,204,204);
        stroke:rgb(153,153,153);
        opacity: 0.6;
        stroke-width: 2;
        transition-duration: 0ms;
        cursor: pointer;
    }

    .tissue:hover
    {
        fill: rgba(204,204,204) !important;
        stroke: rgba(153,153,153) !important;
        opacity: 0.9 !important;
    }

    .tissue_skin
    {
        fill: none !important;
        stroke:rgb(153,153,153);
        opacity: 0.6;
        stroke-width: 2;
        transition-duration: 0ms;
        cursor: pointer;
    }

    .tissue_skin:hover
    {
        fill: none !important;
        stroke: rgb(153,153,153) !important;
        opacity: 0.9;
    }

    .tissue_serum
    {
        fill: rgb(120,120,120);
        stroke: none !important;
        opacity: 0.6;
        transition-duration: 0ms;
        cursor: pointer;
    }

    .tissue_serum:hover
    {
        fill: rgb(120,120,120);
        opacity: 0.9;
    }

</style>

<!--Human:ヒト-->
<svg id="Human" viewBox="0 0 500 500" width="400" height="400"> <!--widthとheigthの値で画像の大きさを変更できる。-->
    <!--Brain:脳-->
    <path class="tissue" id="0" onClick="click(this)"
          d="M272.05 29.55Q275.35 28.45 276.5 32.35 282.6 32.85 283.05 37.55 289.4 41.95 287.9 47.15 290.05 52.3 287.9 56.8 287.7 64 281.55 65.3L269.45 67.15Q269.65 70 267.05 70.7 264.3 74.55 259.4 74.75L251.5 74.75Q250 78.4 246.5 79.35 244.5 85.75 241.1 90.7L241.1 106.8 237.95 106.8 235.85 91.25 235.85 86.45Q234.55 90.55 229.55 84.6L221.7 82.75Q215 77.1 215.7 73.65 209.55 72.55 207.35 67.55 204.25 57.95 209.35 53.1 208.05 46.9 213.3 46.65 211.35 41 216.3 38.85 216.15 34.65 220.4 35.35 220.7 29.25 226.95 28.3 230.4 24.5 232.5 28.3 233.2 22.8 240.5 24.6 243.9 21.05 248 24.6 250.2 21.85 252.65 24.8 255.1 23 257.5 24.8 260.35 24.15 261.4 26.05 268.45 25.4 272.05 29.55M215.7 73.65Q216.05 68.9 220.75 69.2 221.45 66.05 225.4 66.25 227.35 57.9 236.6 61.4 240.45 61.8 242.2 65.5 242.2 59.75 247.05 59.4 251.3 58.65 253.4 62.2L256.9 66.45 254.85 66.95 250.6 61.8Q247.1 61.8 247.05 65.3 252.9 65.35 251.5 74.75 252.9 65.35 247.05 65.3 247.1 61.8 250.6 61.8L254.85 66.95 256.9 66.45 253.4 62.2Q251.3 58.65 247.05 59.4 242.2 59.75 242.2 65.5 240.45 61.8 236.6 61.4 227.35 57.9 225.4 66.25 221.45 66.05 220.75 69.2 216.05 68.9 215.7 73.65M235.85 86.45Q239.1 82.65 239.4 71.2L242.2 65.5 239.4 71.2Q239.1 82.65 235.85 86.45"/>

    <!--Cornea:角膜-->
    <path class="tissue" id="1" onClick="click(this)"
          d="M286.1 77.95Q286.4 78.9 286.4 80.2 286.4 81.5 286.1 82.45 285.8 83.4 285.4 83.4 285 83.4 284.65 82.45 284.4 81.5 284.4 80.2 284.4 78.9 284.65 77.95 285 77 285.4 77 285.8 77 286.1 77.95"/>

    <!--Heart:心臓-->
    <path class="tissue" id="2" onClick="click(this)"
          d="M275.1 204.55 262.5 208.1Q266.85 209.85 273.9 209.85L272.65 214.35Q265.35 211.2 259.55 214.45 267.3 222.1 268.15 231.15 281.2 253.9 269.1 258.65 257 263.35 246.05 258.55 233.65 255.25 230.95 247.1 219.7 234.95 229.3 213.1L234.2 199.2 243.4 201.65 Q244.55 199.8 246.05 198L255.9 200.05 255.9 204.55Q261.4 205.15 273.5 200.45L275.1 204.55M255.9 204.55 253.45 209.85Q256.65 211.7 259.55 214.45 256.65 211.7 253.45 209.85L255.9 204.55M262.5 208.1Q261.4 207.6 260.4 207 261.4 207.6 262.5 208.1 M253.45 209.85Q253.4 219.2 245.25 222.15 234.15 231.45 230.95 247.1 234.15 231.45 245.25 222.15 253.4 219.2 253.45 209.85M245.25 222.15Q239.65 218.05 239.95 211.1 240.45 206.35 243.4 201.65 240.45 206.35 239.95 211.1 239.65 218.05 245.25 222.15"/>

    <!--Kidney:腎臓-->
    <path class="tissue" id="3" onClick="click(this)"
          d="M229.8 323.05Q226.35 321.1 223.65 323.45 226.35 321.1 229.8 323.05 234.6 325.85 234.5 332.85 229.35 342.75 218.3 334.5 210.05 324.25 215.45 308.95 221.1 299.65 230 304.65 233.75 310.75 227.95 315.5L229.8 323.05M227.95 315.5Q225.65 317.8 222.65 317.1 225.65 317.8 227.95 315.5M289.55 332.85Q282.65 338.1 277.85 332.85 275.55 331.3 275.4 328.15 275.15 325.9 278.7 323.65 276.4 319.35 278.7 315.05 276.3 315.05 275.4 309.75 277.35 302.4 282.35 303 293.45 305.75 294.05 316.7 294.55 329.5 289.55 332.85M278.7 315.05Q283.45 316.85 285.45 314.25 283.45 316.85 278.7 315.05M278.7 323.65Q281.55 322.5 284.4 325.1 281.55 322.5 278.7 323.65"/>

    <!--LargeBowel:大腸-->
    <path class="tissue" id="4" onClick="click(this)"
          d="M239.9 325Q244.05 324.65 247.2 329.3 252.3 328.9 258.2 331.3 261.85 328.7 268.75 329.9 272.05 326.1 276.85 326.45 281.4 321.6 284.65 321.35 286.45 315.95 290.05 315.1 291.3 310.4 294.05 309.2 296.35 304.75 298.65 303.7 299.75 299.45 304.05 301.1 L310.95 303.9Q312.7 305.5 313.1 308.15 313.35 310 311.55 312.4 311.15 317.4 310.25 320.15 311.1 327.7 310.35 328.95 310.3 329 310.25 329.05 310.5 337.1 309.95 338.25 309.9 338.35 309.85 338.4 310.65 346.5 310.15 348.75 312.15 357.6 311.4 361.15 311.2 362 310.95 362.65 311.85 371.95 310.7 373.9 310.4 374.35 310.05 374.75 310.5 379.55 308.8 381.6 308.45 382 308.15 382.3 306.55 390.65 304.5 391.8 303.8 392.2 303.2 392.5 302.9 399.1 298.9 401.6 297.4 402.55 296.3 403.15 295.7 407.95 292.75 409.5 290.85 417.5 283 417.25 277.85 422.05 269.95 418.7 265.7 420.4 261.75 419.4L261.6 422.8 242.05 422.8 242.05 417.25Q243.15 398.3 266.9 403.7 272.2 400.25 278.35 401.45 278.85 395.15 283.7 394.05 283.8 392.9 284.15 391.25 285.05 386.8 287.6 385.7 287.35 382.6 291 378.45 291.15 375.95 293.3 372.4 293.15 372.1 293.05 371.8 291.85 369.05 293.8 361.7 292.15 358.65 293.1 348.05 292.1 345.45 292.95 340 292 338.85 291.75 337.15 290 338.6 286.95 339.2 285.7 342.1 275.95 344 274.15 346.15 268.35 345.25 267.9 345.7 267.45 346.25L262.6 346.25Q262.55 346.3 262.5 346.4 261.8 347.55 252.15 345.8 247 348.2 241.95 344.9 241.3 344 240.85 342.45 241.3 344 241.95 344.9 237.95 345.2 234.8 342.15 234.6 341.95 234.45 341.75 233.45 340.6 233.45 339.55 233.45 340.6 234.45 341.75 234.6 341.95 234.8 342.15 228.75 341.35 226.9 337.6 226.8 337.5 226.75 337.45 225.5 335.9 225.3 334.65 225.5 335.9 226.75 337.45 226.8 337.5 226.9 337.6 221.95 340.5 216.55 334.9 216.3 334.55 216.15 334.25 215.75 333.35 215.45 331.8 215.75 333.35 216.15 334.25 216.3 334.55 216.55 334.9 214.1 334.95 211.7 333.7 209.3 332.45 206.85 329.95 205.6 330.95 203.2 330.95 200.3 330.95 199.1 329.95 196.95 327.9 196.65 325.65 196.95 327.9 199.1 329.95 200.3 330.95 203.2 330.95 205.6 330.95 206.85 329.95 209.3 332.45 211.7 333.7 212 338.2 209.95 342.25 209.9 342.2 209.85 342.1 209.1 340.2 206.4 338 209.1 340.2 209.85 342.1 209.9 342.2 209.95 342.25 210.55 344.3 208.8 351.9L208.8 351.95Q208.9 354.95 208.15 360.2 209.2 362.95 208.6 368.9 209.75 371.25 208.7 380.65 209.35 381.65 209.3 382.85 210.05 383.1 210.9 383.45 211.8 383.15 212.6 383.35 220.45 383.95 218.35 393.8 216.5 407.1 204.4 405.05 202.55 404.35 201.3 402.8 198.55 403.3 194.7 400.6 192.65 398.65 192.2 396.25 189 391.85 188.1 387.7 187.4 384.8 188 383 185.9 375 187.7 371.55 186.8 364 187.85 362.05 188.05 361.6 188.3 361.2 188 353.8 189.95 351.6L189.95 351.55Q189.55 341.6 192.35 339.2 192.85 338.75 193.3 338.4 190.75 333.2 193.3 321.55 196.4 313.15 208.6 313.05 217.3 313.2 224.45 318.55 228.95 318.3 232 322.4 234.5 321.1 239.9 325 232.7 325.45 232.45 328.9 232.7 325.45 239.9 325M225.9 325.75Q227.35 322.85 232 322.4 227.35 322.85 225.9 325.75M208.3 326.9Q207.35 329.5 206.85 329.95 207.35 329.5 208.3 326.9M216.1 321.45Q218.6 318.35 224.45 318.55 218.6 318.35 216.1 321.45M193.3 338.4Q195.3 336.8 196.25 336.7 195.3 336.8 193.3 338.4M192.95 348.95Q191.8 349.35 189.95 351.55 191.8 349.35 192.95 348.95M190.9 358Q189.3 359.6 188.3 361.2 189.3 359.6 190.9 358M191.3 367.8Q189.25 369 188.3 370.7 187.95 371.05 187.7 371.55 187.95 371.05 188.3 370.7 189.25 369 191.3 367.8M191.3 378.85Q190.25 379.65 188.7 381.65 188.2 382.2 188 383 188.2 382.2 188.7 381.65 190.25 379.65 191.3 378.85M202.6 356.55Q205.3 356.35 207.35 358.8 207.8 359.35 208.15 360.2 207.8 359.35 207.35 358.8 205.3 356.35 202.6 356.55M208.8 351.9Q208.65 349 207.65 348.3 206 347.15 204.9 347.35 206 347.15 207.65 348.3 208.65 349 208.8 351.9M203.2 366.55Q203.3 366.55 203.75 366.35 204.25 366.15 205.5 366.45 206.75 366.7 208.3 368.45 208.45 368.6 208.6 368.9 208.45 368.6 208.3 368.45 206.75 366.7 205.5 366.45 204.25 366.15 203.75 366.35 203.3 366.55 203.2 366.55M207.3 387.45Q207.9 385.75 209.3 384.5 210.1 383.75 210.9 383.45 210.1 383.75 209.3 384.5 207.9 385.75 207.3 387.45M203.05 383.35Q205.5 381.75 209.3 382.85 205.5 381.75 203.05 383.35M202.25 376.4Q208.75 377.1 208.7 380.65 208.75 377.1 202.25 376.4M311.55 312.4Q310.7 313.5 309.35 314.75 309.35 314.9 309.35 315 309.1 317.75 304.95 321.5 304.25 325.1 300.15 327.55 299.55 330.55 293.7 334.2 293.15 335.95 291.75 337.15 293.15 335.95 293.7 334.2 299.55 330.55 300.15 327.55 304.25 325.1 304.95 321.5 309.1 317.75 309.35 315 309.35 314.9 309.35 314.75 310.7 313.5 311.55 312.4M304.95 321.5Q305.15 320.45 305.1 319.3 305.1 316.4 304.25 314.6 305.1 316.4 305.1 319.3 305.15 320.45 304.95 321.5M308.35 309.7Q309.15 311.15 309.2 311.35 309.6 312.2 309.35 314.75 309.6 312.2 309.2 311.35 309.15 311.15 308.35 309.7M294.05 309.2Q295.4 308.65 297 308.85 295.4 308.65 294.05 309.2M290.05 315.1Q291.25 314.8 292.6 315 291.25 314.8 290.05 315.1M298.65 303.7Q300.25 303.05 301.8 303.95 300.25 303.05 298.65 303.7M298.95 321.15Q299.85 322.65 299.9 322.95 300.15 323.7 300.15 326.95 300.15 327.25 300.15 327.55 300.15 327.25 300.15 326.95 300.15 323.7 299.9 322.95 299.85 322.65 298.95 321.15M293.2 328.7Q294.05 330.05 294.05 332.75 293.95 333.55 293.7 334.2 293.95 333.55 294.05 332.75 294.05 330.05 293.2 328.7M287.1 333.2Q288.3 336.95 287.1 338.25 288.3 336.95 287.1 333.2M292.95 340Q294.2 341.55 296.5 342.3 294.2 341.55 292.95 340M309.85 338.4Q309.2 339.5 307.1 340.8 309.2 339.5 309.85 338.4M310.25 329.05Q309.45 330.25 307.1 332.2 309.45 330.25 310.25 329.05M310.25 320.15Q309.55 322.4 308.5 323.1 309.55 322.4 310.25 320.15M284.65 321.35Q286.45 321.2 287.9 322.45 286.45 321.2 284.65 321.35M262.5 341.6Q262.5 341.75 262.75 342.25 262.95 342.75 263.1 344 263.2 345.15 262.6 346.25 263.2 345.15 263.1 344 262.95 342.75 262.75 342.25 262.5 341.75 262.5 341.6M258.2 331.3Q259.8 331.95 261.5 332.8 259.8 331.95 258.2 331.3M255.15 340.4Q255.9 344.4 252.15 345.8 255.9 344.4 255.15 340.4M268.75 329.9Q269.8 330.05 271 330.35 269.8 330.05 268.75 329.9M276.85 326.45Q279.4 326.65 282.35 328 279.4 326.65 276.85 326.45M268.35 345.25Q270.2 343.8 269.9 340.4 270.2 343.8 268.35 345.25M276.85 339.15Q277.25 339.6 277.15 341.3 277 342.9 275.95 344 277 342.9 277.15 341.3 277.25 339.6 276.85 339.15M310.15 348.75Q310.05 349.15 309.95 349.35 309.15 350.75 307.95 351.45 309.15 350.75 309.95 349.35 310.05 349.15 310.15 348.75M310.95 362.65 Q310.05 364.85 308.35 365.35 310.05 364.85 310.95 362.65M293.1 348.05Q293.9 350.35 296.15 350.5 293.9 350.35 293.1 348.05M293.8 361.7Q294.35 362.75 297.1 363.5 294.35 362.75 293.8 361.7M291 378.45Q290.9 379.4 291.1 380.15 291.9 383 293.6 383.75 291.9 383 291.1 380.15 290.9 379.4 291 378.45M287.6 385.7Q287.65 386.8 289.1 388.85 287.65 386.8 287.6 385.7M303.2 392.5Q302.3 394.55 299.15 393.8 302.3 394.55 303.2 392.5M293.3 372.4Q294.25 374.6 295.85 375.35 294.25 374.6 293.3 372.4M310.05 374.75Q309 375.95 307.55 376.4 309 375.95 310.05 374.75M308.15 382.3Q306.75 383.7 304.25 384.8 306.75 383.7 308.15 382.3M240.45 331.25Q243.6 329.6 247.2 329.3 243.6 329.6 240.45 331.25M289.25 410.25Q291.3 410.25 292.75 409.5 291.3 410.25 289.25 410.25M296.3 403.15Q294.45 404.15 293.6 404.2 294.45 404.15 296.3 403.15M257.8 417.9Q260.7 419.15 261.75 419.4 260.7 419.15 257.8 417.9M278.35 401.45Q278.25 402.45 278.7 405.05 278.25 402.45 278.35 401.45M199.1 394.8Q198.95 398.25 200.1 400.8 200.6 401.95 201.3 402.8 200.6 401.95 200.1 400.8 198.95 398.25 199.1 394.8M283.7 394.05Q283.6 394.95 284.2 397.4 283.6 394.95 283.7 394.05M195.2 387.25Q191.45 391.6 192.2 396.25 191.45 391.6 195.2 387.25"/>

    <!--Liver:肝臓-->
    <path class="tissue" id="5" onClick="click(this)"
          d="M269.4 288.8Q268.8 291.4 267.55 293.8 268.8 291.4 269.4 288.8M267.55 293.8Q259.9 308 226.65 312.5 209.1 327.2 203.5 315.4 198.15 286.35 207 275.1 217.95 257.25 251.4 264.25 275.8 267.6 293.55 266.5 301.95 266.7 296.2 274.65 281.2 294.15 267.55 293.8"/>

    <!--Lung:肺-->
    <path class="tissue" id="6" onClick="click(this)"
          d="M230.7 185.65Q230.9 201.65 228.05 214.5 227.6 216.45 227.1 218.35 223.9 230.15 226.7 240.9 229.6 258.5 226.1 258.05 223.25 257.65 213.85 259.3 211.65 259.65 209.15 260.15 195.75 262.7 191.1 271.95 179.85 286.4 179.25 260.95 178.7 232 190.75 208.2 198.65 192.55 212 179.1 226.45 169.05 230.7 185.65M289.3 180.35Q318.55 207 320.85 262.2 318.4 284.95 311.4 279.4 295.95 267.25 283.9 264.6 279.85 263.65 276.25 263.85 267.6 251.65 266.4 219.65L268.45 185.65Q271.85 166.25 289.3 180.35"/>

    <!--Lymph Node:リンパ節（腺）-->
    <path class="tissue" id="7" onClick="click(this)"
          d="M328.65 202.1Q328.8 201.75 329.05 201.5 329.3 201.25 329.65 201.15 330 200.95 330.5 200.95 331.4 200.95 331.95 201.5 332.55 202.1 332.55 203L332.55 203.05Q332.55 203.85 331.95 204.4 331.55 204.85 330.95 205 330.7 205 330.5 205 329.65 205 329.05 204.4 328.95 204.3 328.85 204.2 328.45 203.7 328.45 203 328.45 202.5 328.65 202.1M323.85 184.05Q323.75 184.2 323.6 184.3 323.05 184.95 322.15 184.95 321.3 184.95 320.7 184.3 320.15 183.75 320.15 182.9 320.15 182.05 320.7 181.4 321.3 180.85 322.15 180.85 323.05 180.85 323.6 181.4 324.2 182.05 324.2 182.9 324.2 183.55 323.85 184.05M313.3 179.95Q313.35 180.15 313.35 180.45 313.35 181.3 312.75 181.85 312.5 182.15 312.15 182.35 311.8 182.5 311.35 182.5 310.45 182.5 309.85 181.85 309.3 181.3 309.3 180.45 309.3 179.55 309.85 178.95 310 178.8 310.2 178.7 310.7 178.4 311.35 178.4 312.2 178.4 312.75 178.95 313.15 179.35 313.3 179.95M316.75 190.85Q316.35 191.05 315.85 191.05 314.95 191.05 314.35 190.45 313.8 189.9 313.8 189.05 313.8 188.15 314.35 187.55 314.55 187.35 314.8 187.25 315.25 187 315.85 187 316.7 187 317.25 187.55 317.55 187.85 317.75 188.3 317.85 188.65 317.85 189.05 317.85 189.9 317.25 190.45 317 190.7 316.75 190.85M341.4 230.3Q341.95 229.95 342.65 229.95 343.5 229.95 344.05 230.5 344.7 231.15 344.7 232 344.7 232.85 344.05 233.4 343.65 233.85 343.1 234 342.9 234.05 342.65 234.05 341.75 234.05 341.15 233.4 340.6 232.85 340.6 232 340.6 231.15 341.15 230.5 341.25 230.4 341.4 230.3M333.9 222.5Q333.35 223.05 332.55 223.05 332.05 223.05 331.6 222.8 331.35 222.65 331.1 222.4 330.5 221.85 330.5 221 330.5 220.1 331.1 219.5 331.6 219.05 332.25 219 332.4 218.95 332.55 218.95 333.4 218.95 334 219.5 334.6 220.1 334.6 221 334.6 221.85 334 222.4 333.95 222.45 333.9 222.5M327 228.65 327.05 228.7Q327.65 229.3 327.65 230.15 327.65 231 327.05 231.6 326.45 232.2 325.6 232.2 325.05 232.2 324.6 231.95 324.35 231.8 324.15 231.6 323.55 231 323.55 230.15 323.55 229.3 324.15 228.7 324.2 228.65 324.3 228.6 324.85 228.1 325.6 228.1 326.4 228.1 327 228.65M319.9 223.05Q319 223.05 318.4 222.4 317.85 221.85 317.85 221 317.85 220.1 318.4 219.5 319 218.95 319.9 218.95 320.75 218.95 321.3 219.5 321.95 220.1 321.95 221 321.95 221.85 321.3 222.4 320.75 223.05 319.9 223.05M346.4 311.725Q346.68105 311.63652 346.9 311.6 347.4 311.6 347.8 311.75 348.17285 311.8666 348.45 312.1 348.76309 312.37285 348.95 312.8 349.35 313.6 349.05 314.4 349.00723 314.50684 348.95 314.6 348.63613 315.1998 347.95 315.5 347.65 315.65 347.35 315.7 346.90801 315.74414 346.5 315.625 346.45234 315.61738 346.4 315.6 345.6 315.3 345.2 314.5 344.85 313.7 345.15 312.95 345.4 312.25 346.1 311.85 346.15 311.85 346.2 311.8 346.30801 311.75957 346.4 311.725 M351.95 318.475Q352.17715 318.38457 352.35 318.35 352.85 318.35 353.3 318.5 354.05 318.75 354.4 319.5 354.8 320.3 354.5 321.1 354.40098 321.34785 354.25 321.55 353.95215 321.96562 353.45 322.2 353.1 322.35 352.8 322.4 352.51055 322.49648 352.2 322.45 352.02832 322.42129 351.85 322.35 351.05 322.05 350.65 321.25 350.3 320.5 350.65 319.75 350.85 319 351.6 318.65 351.65 318.6 351.75 318.55 351.85801 318.50371 351.95 318.475M350.95 331.175Q350.77715 331.22461 350.6 331.25 350.15 331.35 349.7 331.2 348.9 330.9 348.5 330.1 348.15 329.3 348.45 328.55 348.7 327.8 349.35 327.45 349.37207 327.42793 349.4 327.4 349.44414 327.37793 349.5 327.35 349.85 327.2 350.2 327.2 350.7 327.2 351.05 327.3 351.25996 327.36563 351.45 327.475 351.9418 327.75996 352.2 328.35 352.6 329.15 352.3 329.95 352 330.7 351.25 331.05 351.10195 331.12402 350.95 331.175M242.55 125.25Q242.5 126.05 241.95 126.6 241.65 126.9 241.25 127.1 240.9 127.2 240.5 127.2 239.65 127.2 239 126.6 238.85 126.45 238.75 126.3 238.45 125.8 238.45 125.15 238.45 124.3 239 123.7 239.65 123.1 240.5 123.1 241.35 123.1 241.95 123.7 242.05 123.8 242.15 123.9 242.55 124.45 242.55 125.15 242.55 125.2 242.55 125.25M245.55 116.55Q244.9 116.45 244.4 115.95 243.8 115.35 243.8 114.5L243.8 114.45Q243.85 113.6 244.4 113.05 245 112.45 245.85 112.45 245.95 112.45 246.05 112.45 246.75 112.5 247.3 113.05 247.9 113.65 247.9 114.5 247.9 115.35 247.3 115.95 246.7 116.55 245.85 116.55 245.7 116.55 245.55 116.55M232.5 136.6Q232.6 136.6 232.7 136.6 233.55 136.6 234.1 137.2 234.75 137.8 234.75 138.65 234.75 139.5 234.1 140.1 233.55 140.7 232.7 140.7 232.5 140.7 232.3 140.7 231.65 140.55 231.2 140.1 230.65 139.5 230.65 138.65 230.65 137.8 231.2 137.2 231.75 136.65 232.5 136.6M231.65 152.2Q231.55 152.2 231.45 152.2 230.6 152.2 230 151.6 229.4 151 229.4 150.15 229.4 149.3 230 148.7 230.6 148.1 231.45 148.1 231.65 148.1 231.9 148.15 232.45 148.25 232.9 148.7 233.5 149.3 233.5 150.15 233.5 151 232.9 151.6 232.35 152.15 231.65 152.2M239.65 142.1Q239.85 142.2 240.05 142.3 240.2 142.4 240.35 142.55 240.95 143.15 240.95 144 240.95 144.6 240.65 145.1 240.55 145.25 240.35 145.45 239.75 146.05 238.9 146.05 238.65 146.05 238.5 146 237.9 145.9 237.45 145.45 236.85 144.85 236.85 144 236.85 143.15 237.45 142.55 238.05 141.95 238.9 141.95 239.3 141.95 239.65 142.1M231.3 158.4Q231.9 158.45 232.4 158.8 232.45 158.85 232.5 158.9 233.1 159.5 233.1 160.4 233.1 161.25 232.5 161.8 231.9 162.45 231.05 162.45 230.2 162.45 229.55 161.8 229 161.25 229 160.4 229 160.25 229.05 160.15 229.1 159.4 229.55 158.9 230.2 158.35 231.05 158.35 231.2 158.35 231.3 158.4M235.25 155.1Q235.1 155 234.95 154.85 234.35 154.3 234.35 153.45 234.35 152.55 234.95 151.95 235.55 151.4 236.4 151.4 236.75 151.4 237.05 151.5 237.5 151.6 237.85 151.95 238.45 152.55 238.45 153.45 238.45 154.15 238.05 154.7 237.95 154.75 237.85 154.85 237.25 155.45 236.4 155.45 235.75 155.45 235.25 155.1M251.5 124.3 Q251.4 124.25 251.3 124.15 250.75 123.55 250.75 122.7 250.75 122.55 250.8 122.4 250.85 121.75 251.3 121.2 251.9 120.65 252.75 120.65 252.95 120.65 253.1 120.7 253.7 120.75 254.1 121.1 254.15 121.15 254.2 121.2 254.8 121.85 254.8 122.7 254.8 123.55 254.2 124.15 253.65 124.75 252.75 124.75 252 124.75 251.5 124.3M188.15 173.6Q188.2 172.95 188.65 172.4 189.25 171.85 190.15 171.85 190.6 171.85 190.95 172 191.3 172.15 191.55 172.4 192.15 173.05 192.15 173.9 192.15 174.75 191.55 175.3 191 175.95 190.15 175.95 189.65 175.95 189.25 175.75 188.9 175.6 188.65 175.3 188.1 174.75 188.1 173.9 188.1 173.75 188.15 173.6M186.45 181.8Q186.8 181.95 187.05 182.25 187.65 182.85 187.65 183.7 187.65 184.55 187.05 185.15 186.5 185.75 185.65 185.75 184.95 185.75 184.45 185.4 184.3 185.3 184.15 185.15 183.6 184.55 183.6 183.7 183.6 182.85 184.15 182.25 184.75 181.65 185.65 181.65 186.1 181.65 186.45 181.8M178.2 192.25Q178.35 192.35 178.45 192.45 179.1 193.1 179.1 193.95 179.1 194.8 178.45 195.35 177.9 196 177.05 196 176.85 196 176.65 195.95 176 195.85 175.55 195.35 175 194.8 175 193.95 175 193.9 175 193.85 175.05 193.05 175.55 192.45 176.05 192 176.8 191.9 176.9 191.9 177.05 191.9 177.7 191.9 178.2 192.25M176.2 206.8 Q176.55 206.95 176.85 207.25 177.45 207.85 177.45 208.7 177.45 209.55 176.85 210.15 176.25 210.75 175.4 210.75 175.25 210.75 175.15 210.75 174.45 210.65 173.9 210.15 173.35 209.55 173.35 208.7 173.35 207.85 173.9 207.25 174.55 206.65 175.4 206.65 175.85 206.65 176.2 206.8M173.65 225.75Q173.9 225.65 174.2 225.65 175.05 225.65 175.65 226.2 176.25 226.85 176.25 227.7 176.25 228.55 175.65 229.15 175.15 229.65 174.5 229.75 174.35 229.75 174.2 229.75 173.35 229.75 172.75 229.15 172.15 228.55 172.15 227.7 172.15 227 172.6 226.4 172.65 226.3 172.75 226.2 173.15 225.85 173.65 225.75M177.5 236.05Q177.55 236 177.6 235.9 178.2 235.35 179.1 235.35 179.95 235.35 180.5 235.9 181.1 236.55 181.1 237.4 181.1 238.25 180.5 238.8 179.95 239.45 179.1 239.45 178.85 239.45 178.6 239.4 178.05 239.25 177.6 238.8 177.05 238.25 177.05 237.4 177.05 236.65 177.5 236.05M177 258.8Q176.2 258.8 175.6 258.2 175.05 257.6 175.05 256.75 175.05 255.9 175.6 255.25 176.2 254.7 177.05 254.7 177.2 254.7 177.3 254.7 178.05 254.8 178.5 255.25 179.1 255.9 179.1 256.75 179.1 257.6 178.5 258.2 177.95 258.8 177.05 258.8L177 258.8M175 180.8Q175.05 179.95 175.55 179.4 176.15 178.85 177.05 178.85 177.7 178.85 178.2 179.2 178.3 179.25 178.45 179.4 179.1 180 179.1 180.9 179.1 181.75 178.45 182.3 177.95 182.9 177.15 182.95 177.1 182.95 177.05 182.95 176.15 182.95 175.55 182.3 175 181.75 175 180.9 175 180.85 175 180.8M256.75 114.35Q256.5 113.9 256.5 113.3 256.5 112.45 257.05 111.8 257.7 111.25 258.55 111.25 259.1 111.25 259.55 111.5 259.75 111.6 259.95 111.8 260.6 112.45 260.6 113.3 260.6 114.15 259.95 114.7 259.4 115.35 258.55 115.35 257.7 115.35 257.05 114.7 256.9 114.55 256.75 114.35M254.85 129.7Q254.8 129.45 254.8 129.25 254.8 128.4 255.4 127.75 256 127.2 256.85 127.2 257.7 127.2 258.3 127.75 258.9 128.4 258.9 129.25 258.9 130.1 258.3 130.7 257.7 131.3 256.85 131.3 256 131.3 255.4 130.7 254.95 130.25 254.85 129.7M262.95 135.85Q262.9 135.9 262.8 136 262.25 136.6 261.35 136.6 260.5 136.6 259.9 136 259.3 135.4 259.3 134.55 259.3 133.7 259.9 133.1 260.5 132.5 261.35 132.5 261.65 132.5 261.95 132.6 262.45 132.7 262.8 133.1 263.4 133.7 263.4 134.55 263.4 135.3 262.95 135.85M265.7 137.3Q265.8 137 266.05 136.75 266.2 136.6 266.4 136.5 266.9 136.2 267.5 136.2 268.35 136.2 268.95 136.75 269.55 137.4 269.55 138.25 269.55 138.8 269.3 139.25 269.15 139.5 268.95 139.7 268.35 140.3 267.5 140.3 266.85 140.3 266.35 139.95 266.2 139.85 266.05 139.7 265.45 139.1 265.45 138.25 265.45 137.75 265.7 137.3M271.7 150.55Q272.5 150.6 273.05 151.15 273.65 151.75 273.65 152.6 273.65 153.45 273.05 154.05 272.8 154.3 272.5 154.45 272.1 154.65 271.6 154.65 270.75 154.65 270.1 154.05 269.55 153.45 269.55 152.6 269.55 151.9 269.9 151.4 270 151.25 270.1 151.15 270.75 150.55 271.6 150.55 271.65 150.55 271.7 150.55M159.7 229.45Q160.15 229.55 160.5 229.9 161.1 230.5 161.1 231.4 161.1 232.25 160.5 232.8 160 233.35 159.2 233.4 159.15 233.4 159.05 233.4 158.65 233.4 158.35 233.3 157.9 233.1 157.6 232.8 157 232.25 157 231.4 157 230.5 157.6 229.9 158.2 229.35 159.05 229.35 159.4 229.35 159.7 229.45M163.45 219.6Q163.15 219.15 163.15 218.55 163.15 217.7 163.75 217.1 164.1 216.75 164.55 216.6L164.6 216.6 Q164.85 216.5 165.2 216.5 166.05 216.5 166.65 217.1 167.25 217.7 167.25 218.5L167.25 218.55Q167.25 219.45 166.65 220 166.05 220.6 165.2 220.6 164.35 220.6 163.75 220 163.55 219.8 163.45 219.6M149.3 315.2Q149.15 314.86563 149.15 314.45 149.15 313.5877 149.7 313 149.7248 312.9752 149.75 312.95 150.35 312.4 151.2 312.4 151.55 312.4 151.85 312.5 152.3 312.6 152.65 312.95 153.25 313.55 153.25 314.45 153.25 315.3 152.65 315.85 152.15 316.4 151.35 316.45 151.3 316.45 151.2 316.45 150.8 316.45 150.5 316.35 150.05 316.15 149.75 315.85 149.44336 315.56895 149.3 315.2M146.325 319.6Q146.67207 319.72207 146.95 320 147.55 320.6 147.55 321.5 147.55 322.35 146.95 322.9 146.45 323.45 145.65 323.5 145.6 323.5 145.5 323.5 145.1 323.5 144.8 323.4 144.35 323.2 144.05 322.9 143.45 322.35 143.45 321.5 143.45 321.29746 143.475 321.1 143.58496 320.46504 144.05 320 144.65 319.45 145.5 319.45 145.85 319.45 146.15 319.55 146.24277 319.5707 146.325 319.6M148.05 327.95Q148.15312 327.96777 148.25 328 148.7 328.1 149.05 328.45 149.65 329.05 149.65 329.95 149.65 330.8 149.05 331.35 148.55 331.9 147.75 331.95 147.7 331.95 147.6 331.95 147.2 331.95 146.9 331.85 146.45 331.65 146.15 331.35 145.70195 330.93926 145.6 330.35 145.55 330.16523 145.55 329.95 145.55 329.05 146.15 328.45 146.45059 328.17461 146.825 328.025 147.17578 327.9 147.6 327.9 147.83691 327.9 148.05 327.95M319.65 245.5Q319.35 245.6 319.05 245.6 318.2 245.6 317.6 244.95 317 244.4 317 243.55 317 242.65 317.6 242.05 318.2 241.5 319.05 241.5 319.9 241.5 320.5 242.05 321.1 242.65 321.1 243.55 321.1 244.4 320.5 244.95 320.15 245.35 319.65 245.5M320.3 249.1Q320.5 249.05 320.75 249.05 321.6 249.05 322.15 249.65 322.8 250.25 322.8 251.1 322.8 251.95 322.15 252.55 322.05 252.65 321.95 252.8 321.45 253.15 320.75 253.15 319.9 253.15 319.25 252.55 318.7 251.95 318.7 251.1 318.7 250.25 319.25 249.65 319.7 249.2 320.3 249.1M308.15 423.2Q307.95 423.1 307.75 422.9 307.2 422.35 307.2 421.5 307.2 420.65 307.75 420 308.05 419.75 308.45 419.6 308.8 419.45 309.25 419.45 310.1 419.45 310.65 420 311.3 420.65 311.3 421.5 311.3 421.9 311.15 422.25 311 422.6 310.65 422.9 310.25 423.35 309.7 423.5 309.5 423.55 309.25 423.55 308.65 423.55 308.15 423.2M293.55 418.6Q293.6 418.6 293.7 418.6 294.55 418.6 295.1 419.2 295.75 419.8 295.75 420.65 295.75 421.55 295.1 422.1 294.9 422.35 294.65 422.5 294.2 422.7 293.7 422.7 292.85 422.7 292.2 422.1 291.65 421.55 291.65 420.65 291.65 419.8 292.2 419.2 292.8 418.65 293.55 418.6M299.45 427.2Q299.5 427.1 299.6 427 300.2 426.45 301.05 426.45 301.9 426.45 302.5 427 302.65 427.15 302.8 427.4 303.1 427.85 303.1 428.5 303.1 429.35 302.5 429.9 301.9 430.55 301.05 430.55 300.55 430.55 300.2 430.35 299.85 430.2 299.6 429.9 299 429.35 299 428.5 299 427.75 299.45 427.2M293.85 435.2Q294.45 434.6 295.35 434.6 296.15 434.6 296.75 435.15L296.75 435.2Q297.35 435.8 297.35 436.65 297.35 437.55 296.75 438.1 296.65 438.25 296.5 438.35 296 438.7 295.35 438.7 294.95 438.7 294.6 438.6 294.2 438.45 293.85 438.1 293.3 437.55 293.3 436.65 293.3 435.8 293.85 435.2M300.2 456.05Q300.55 456.15 300.85 456.45 301.45 457.1 301.45 457.95 301.45 458.1 301.45 458.25 301.35 458.65 301.2 459 301.05 459.2 300.85 459.4 300.45 459.85 299.9 459.95 299.65 460 299.4 460 298.55 460 297.95 459.4 297.35 458.8 297.35 457.95 297.35 457.1084 297.95 456.475L297.95 456.45 298 456.45Q298.6 455.9 299.4 455.9 299.85 455.9 300.2 456.05M288.6 450.15Q288.7 450.15 288.8 450.15 289.65 450.15 290.2 450.75 290.85 451.35 290.85 452.2 290.85 452.3 290.85 452.4 290.75 453.1 290.2 453.65 289.65 454.25 288.8 454.25 287.9 454.25 287.3 453.65 287.2 453.55 287.15 453.45 286.75 452.9 286.75 452.2 286.75 451.35 287.3 450.75 287.85 450.2 288.6 450.15M281.2 467.95Q281.85 468.55 281.85 469.4 281.85 470.25 281.2 470.85 280.65 471.45 279.8 471.45 279.6 471.45 279.45 471.45 278.8 471.35 278.3 470.85 277.75 470.25 277.75 469.4 277.75 468.55 278.3 467.95 278.9 467.35 279.8 467.35 280.65 467.35 281.2 467.95M297.95 456.475Q297.96934 456.45664 298 456.45 297.96934 456.45664 297.95 456.475M222.95 429.5Q223.05 429.05 223.45 428.65 224.05 428.05 224.9 428.05 225.35 428.05 225.75 428.25 226.05 428.35 226.35 428.65 226.95 429.25 226.95 430.1 226.95 431 226.35 431.55 225.75 432.15 224.9 432.15 224.5 432.15 224.15 432 223.75 431.85 223.45 431.55 222.85 431 222.85 430.1 222.85 429.8 222.95 429.5M218.15 418.8Q217.9 418.6 217.7 418.4 217.15 417.85 217.15 417 217.15 416.1 217.7 415.5 218.3 414.95 219.2 414.95 219.35 414.95 219.5 415 220.15 415.05 220.6 415.5 221.2 416.1 221.2 417 221.2 417.85 220.6 418.4 220.05 419.05 219.2 419.05 218.6 419.05 218.15 418.8M215.95 459.3Q215.5 458.75 215.5 457.95 215.5 457.1 216.05 456.45 216.45 456.1 216.9 456 217.2 455.9 217.55 455.9 218.4 455.9 218.95 456.45 219.6 457.1 219.6 457.95 219.6 458.75 219.05 459.35 219 459.35 218.95 459.4 218.4 460 217.55 460 216.7 460 216.05 459.4 216 459.35 215.95 459.3 M207.1 441.95Q207.5 441.65 208 441.6L208.05 441.6Q208.15 441.55 208.3 441.55 209.2 441.55 209.75 442.15 210.35 442.75 210.35 443.6 210.35 444.45 209.75 445.05 209.65 445.15 209.5 445.3 209.4 445.4 209.25 445.45 208.8 445.65 208.3 445.65 207.45 445.65 206.85 445.05 206.25 444.45 206.25 443.6 206.25 442.75 206.85 442.15 206.95 442.05 207.1 441.95M213.45 429.85Q213 429.7 212.6 429.3 212 428.75 212 427.85 212 427 212.6 426.4 213.2 425.8 214.05 425.8 214.65 425.8 215.15 426.15 215.35 426.25 215.5 426.4 216.1 427 216.1 427.85 216.1 428.3 215.95 428.7 215.8 429.05 215.5 429.3 214.9 429.9 214.05 429.9 213.75 429.9 213.45 429.85M227.55 473.85Q227.25 473.9 226.95 473.9 226.1 473.9 225.5 473.3 224.9 472.7 224.9 471.85 224.9 471 225.5 470.4 225.55 470.35 225.6 470.35 226.15 469.8 226.95 469.8 227.8 469.8 228.4 470.4 229 471 229 471.85 229 472.7 228.4 473.3 228 473.7 227.55 473.85M205.45 430.55Q205.55 430.55 205.7 430.55 206.55 430.55 207.1 431.1 207.7 431.7 207.7 432.55 207.7 433.45 207.1 434 206.85 434.25 206.6 434.4 206.2 434.6 205.7 434.6 204.8 434.6 204.2 434 203.65 433.45 203.65 432.55 203.65 431.7 204.2 431.1 204.7 430.65 205.45 430.55M195.55 427.55Q195 428.05 194.2 428.05 193.35 428.05 192.75 427.45 192.15 426.9 192.15 426.05 192.15 425.15 192.75 424.55 193.35 424 194.2 424 195.1 424 195.65 424.55 196.25 425.15 196.25 426.05 196.25 426.9 195.65 427.45 195.6 427.5 195.55 427.55M208.6 462.25Q208.9 462.35 209.15 462.6 209.5 462.95 209.7 463.45 209.75 463.75 209.75 464.1 209.75 464.95 209.15 465.5 208.6 466.15 207.7 466.15 207.6 466.15 207.55 466.15 206.8 466.1 206.25 465.5 205.7 464.95 205.7 464.1 205.7 463.2 206.25 462.6 206.85 462.05 207.7 462.05 208.2 462.05 208.6 462.25"/>
    <path stroke="rgba(200,200,200,0.5)" stroke-width="2" fill="none"
          d="M335.35 183.85 338.5 185.3Q338.6 183.85 338.6 182.25M331.95 201.5Q337.65 195.2 338.5 185.3M332.55 203.05Q342.85 204.4 348.25 197.6M329.65 201.15Q328.05 192.6 323.85 184.05M320.15 182.9 313.3 179.95M312.15 182.35 314.8 187.25M317.75 188.3 328.65 202.1M328.85 204.2Q325.65 213.35 319.65 218.95 321.7 206.05 316.75 190.85M330.5 205Q331.25 205.6 331.9 206.2L330.95 205M331.9 206.2Q331.95 206.2 331.95 206.25 339.65 213.4 341.4 230.3M343.1 234Q345.6 240.25 344.35 244M333.9 222.5Q338.3 224.45 341.4 230.3M332.25 219 330.5 205M331.6 222.8 327 228.65M324.6 231.95 319.4 241.5 319.9 223.05 324.3 228.6M348.45 312.1 351.25 302.5M346.4 311.725 344.7 303 343 294.25M348.95 314.6 351.95 318.475M354.25 321.55 357.75 325.5M346.5 315.625 349.4 327.4M350.95 331.175 352.975 336.2 359.75 339M352.975 336.2 355 341.25M344.7 303 347.5 294M242.15 123.9 244.9 121.9 245.55 116.55M243.8 114.45 240.8 112.25M238.75 126.3 232.85 130.45 232.5 136.6M232.3 140.7 231.9 148.15M231.65 152.2 231.3 158.4 M232.4 158.8 235.25 155.1M237.05 151.5 238.5 146M239.65 142.1Q241.9 135.1 241.25 127.1M242.55 125.25 249.35 127.7 251.5 124.3M250.8 122.4 244.9 121.9M232.85 130.45 230.2 127.6 227.55 124.75M240.05 142.3 249.35 127.7M240.65 145.1 244.7 147.85 M230.2 127.6Q228.9 123.7 232.85 116.55M190.95 172Q208.55 158.4 229.05 160.15M189.25 175.75 186.45 181.8M184.45 185.4 178.2 192.25M176.65 195.95 176.2 206.8M175.15 210.75Q173.25 220.5 173.65 225.75M174.5 229.75 177.5 236.05M178.6 239.4Q180 246.25 177.3 254.7M177 258.8Q175.7 268.5 179.05 274.3M177.15 182.95 176.8 191.9M178.2 179.2 188.15 173.6M175 180.8Q162.15 183.6 154.3 193.1 166.25 190.5 175 193.85L170.95 202.75Q172.6 204.8 173.9 207.25M238.05 154.7 241.05 157.25M246.05 112.45 246.35 109.6M253.1 120.7Q254.3 117.25 256.75 114.35M259.55 111.5 265.4 108.6M254.1 121.1Q257.9 117.9 263.95 116.35M254.85 129.7 249.35 127.7M258.3 127.75 264.15 124.35M262.95 135.85 265.7 137.3M266.4 136.5 267.2 133.75M261.95 132.6 264.55 129.65M269.3 139.25 271.7 150.55M272.5 154.45Q282.9 157.2 290.45 160.4 291.05 160.65 291.7 160.9 311.65 167.95 322.15 180.85M266.35 139.95Q267.25 147.15 269.9 151.4M310.2 178.7Q308.65 168.55 291.7 160.9M159.2 233.4 159.6 239.5M159.7 229.45 163.45 219.6 M164.55 216.6Q161.3 199.85 154.3 193.1 149.35 197.75 149.15 204.75M158.35 233.3 155.7 238.5M151.85 312.5 156.75 291.5M149.7 313 145.25 309.25M146.325 319.6 149.3 315.2M143.475 321.1 137 324.5M151.35 316.45 148.05 327.95M146.9 331.85 142 345.25 M319.65 245.5 320.3 249.1M321.95 252.8 323.05 258.75M164.6 216.6 170.95 202.75Q165.05 195.65 154.3 193.1M167.25 218.5Q170.85 221.5 172.6 226.4M308.95 395.4 311.05 402.2Q312 399.9 313.45 397.65M308.45 419.6Q308.4 419.6 308.4 419.55 307.55 410.15 311.05 402.2M311.15 422.25Q317.8 419.45 317.75 410.7M293.55 418.6Q296.05 415.75 295.65 412.2M294.65 422.5 299.45 427.2M302.8 427.4Q305.5 424.6 308.15 423.2M300.2 430.35Q298.45 432.5 296.75 435.15M296.5 438.35 300.2 456.05M301.2 459Q303.05 471.1 306.7 478.05M294.6 438.6Q291.65 443.6 288.6 450.15M290.85 452.4Q294.76211 457.10449 297.95 456.475 297.96934 456.45664 298 456.45M293.85 435.2Q289.2 431.4 287.45 422.45M309.7 423.5Q312.25 430.85 315.1 434.8 316.5 436.8 319.8 438.95M281.2 467.95 Q284.2 460 287.15 453.45M279.45 471.45 277.85 480.1M297.95 459.4 281.2 467.95M299.9 459.95Q297.95 464.4 297.7 480.5M318.8 448.55Q313.65 442.8 315.1 434.8M225.75 428.25Q228.55 423.9 229.15 418.55 229.55 414.8 228.95 410.55M229.15 418.55 233.85 410.3M218.15 418.8 215.15 426.15 209.95 410.15M215.95 428.7 222.95 429.5M219.5 415 222.4 402.6M213.45 429.85 208.05 441.6M209.5 445.3Q213.35 450.55 216.9 456M218.95 456.45Q216.3 443.45 224.15 432M205.45 430.55 202.15 411.15M206.6 434.4 208 441.6M207.1 441.95Q201.6 434.65 195.55 427.55M209.25 445.45Q211.25 453.15 208.6 462.25M209.7 463.45Q211.35 458.45 215.95 459.3M196.85 407.1 193.7 424Q185.7 415.45 182.1 401.9 181.55 399.75 181.1 397.45M185.2 482.15Q182.7 466.8 190.1 455.55 189.55 441.15 192.65 427.4 180.75 432.55 179.85 440M190.5 456.15Q196 459.95 199.1 471.1M190.1 455.55Q190.55 468.3 193.75 481.5M207.55 466.15 204 481.3M219.05 459.35Q222.45 464.75 225.6 470.35M227.55 473.85Q229.55 477.55 231.4 481.3M182.1 401.9 184.55 393.8"/>

    <!--Ovaries:卵巣-->
    <path class="tissue" id="8" onClick="click(this)"
          d="M290.45 440.55Q288.35 442.65 285.4 442.65 282.45 442.65 280.35 440.55 278.25 438.45 278.25 435.5 278.25 432.55 280.35 430.45 282.45 428.35 285.4 428.35 288.35 428.35 290.45 430.45 292.55 432.55 292.55 435.5 292.55 438.45 290.45 440.55M217.45 428.35Q220.4 428.35 222.45 430.45 224.6 432.55 224.6 435.5 224.6 438.45 222.45 440.55 220.4 442.65 217.45 442.65 214.5 442.65 212.35 440.55 210.3 438.45 210.3 435.5 210.3 432.55 212.35 430.45 214.5 428.35 217.45 428.35"/>

    <!--Pancreas:膵臓-->
    <path class="tissue" id="9" onClick="click(this)"
          d="M286.45 294.15Q288 294.3 288.2 296.2 288 294.3 286.45 294.15 292.4 291.05 292.1 296.85 291.4 299 290.3 300.95 289.3 302.75 287.95 304.45 286.4 306.25 284.45 307.9 282.75 309.35 280.75 310.6 278.7 311.85 276.3 313 276.05 313.15 275.75 313.25 273.35 314.45 271.15 315.4 268.45 316.6 266.05 317.45 263.85 318.2 261.85 318.7 259.4 319.3 257.3 319.55 255.1 319.8 253.25 319.6 250.3 320.2 247.8 320.45 244.05 320.8 241.35 320.25 234.15 318.8 233.6 311.4 237.35 306.8 246.5 305.2 248.7 304.85 251.25 304.65 253.75 304.45 256.55 304.4 258.25 304.4 261.45 304.3 262.95 304.25 266.1 303.55 268.8 302.95 271.7 301.95 274.2 301.05 276.85 299.8 279.6 298.55 282.5 296.85 284.65 295.2 286.35 294.25L286.45 294.15M241.6 306.9Q243.25 308.2 242.45 309.45 243.25 308.2 241.6 306.9M288.85 298.8Q290.1 299 290.3 300.95 290.1 299 288.85 298.8M286.5 301.7Q287.5 302.2 287.95 304.45 287.5 302.2 286.5 301.7M276.85 299.8Q280.3 299.95 280.05 301.95 280.3 299.95 276.85 299.8M266.1 303.55Q269.4 304.55 268.8 306.45 269.4 304.55 266.1 303.55M270.4 311.85Q272.45 313.25 271.15 315.4 272.45 313.25 270.4 311.85M265.9 314.4Q267.25 316.1 266.05 317.45 267.25 316.1 265.9 314.4M275.4 310.3Q276.3 310.2 276.3 313 276.3 310.2 275.4 310.3M271.7 301.95 Q275.75 302.4 275.15 304.45 275.75 302.4 271.7 301.95M278.7 307.7Q280.55 308.2 280.75 310.6 280.55 308.2 278.7 307.7M261.45 304.3Q263.45 306 262.35 307.5 263.45 306 261.45 304.3M256.55 304.4Q258.75 306.25 257.35 307.7 258.75 306.25 256.55 304.4 M251.25 304.65Q253.15 306.95 251.9 308.1 253.15 306.95 251.25 304.65M246.5 305.2Q248.25 306.95 247.25 308.8 248.25 306.95 246.5 305.2M248.5 316.7Q249.35 318.65 247.8 320.45 249.35 318.65 248.5 316.7M253.65 316.95Q254.4 318.15 253.25 319.6 254.4 318.15 253.65 316.95M257.35 316.75Q258.1 318.2 257.3 319.55 258.1 318.2 257.35 316.75M261.5 314.8Q263.2 316.6 261.85 318.7 263.2 316.6 261.5 314.8M282.9 305.45Q284.6 305.8 284.45 307.9 284.6 305.8 282.9 305.45M243.25 317.45Q243.35 319.3 241.35 320.25 243.35 319.3 243.25 317.45M282.5 296.85Q285.25 297.45 284.95 299.5 285.25 297.45 282.5 296.85"/>


    <!--Skin:皮膚-->
    <path class="tissue_skin" id="10" onClick="click(this)" fill="none"
          d="M174.8 482.7Q170.45 466.3 168.85 439.7 168.8 405.9 175.3 376.3 173.75 363 179.3 345.6 180.95 323.55 175.6 294.45 172.65 285.2 170 271.65L156.5 318.5Q150.15 350.6 128 379.05L90.25 427.5Q87.6 444.3 83.45 446L61.3 470.35Q56.65 474.7 51.15 471L47.55 474.1Q42.8 475.15 39.7 469.75 34.45 470.4 34.05 464.05L34.85 462.95Q30.1 459.85 32.05 453.8L46.65 438.25 38.4 440.8Q28.55 443.45 27.2 435.5L38.4 430.95Q42.05 425.6 48.1 420.55 54.1 415.5 58.45 413.45 62.8 411.4 73.25 410.85 73.8 410 74.35 409.1 94.85 377.2 99.5 361.8 104.15 346.35 112 330.9 119.8 315.45 126.5 304L131.5 252Q127.2 218.05 137.35 197.6 142.05 178.5 162.7 173 167.7 167 176.55 167.45 214.4 149.95 217.6 145.1 222.85 140.65 223.55 117.5 216.1 108.5 207.55 95 194.4 67.6 204.8 44 215.2 20.4 246.85 16.95 284.8 15.25 297.2 49.55 298.6 56.65 297.95 67.9 297.2 74.15 295.6 80.65L305.4 97.85Q304.95 101.35 296 105.25L298.65 109.95 296.2 112.2 297.4 114.85Q298.05 117 292.9 118.75 293.6 129.4 290.65 131.4 280.3 135.35 273.45 133.1L273.6 133.2Q274.35 140.85 274.45 141.75 295.35 157.15 320.1 165.85 329.5 166.1 332.55 171.45 350.4 174.65 361.75 190.35 373.05 206.05 369.2 259.05L373.2 302.9Q377.9 315.35 385.7 330.8 393.55 346.25 398.2 361.7 402.85 377.1 423.35 409 423.9 409.9 424.45 410.75 434.9 411.3 439.25 413.35 443.6 415.4 449.6 420.45 455.65 425.5 459.3 430.85L470.5 435.4Q469.15 443.35 459.3 440.7L451.05 438.15 465.65 453.7Q467.6 459.75 462.85 462.85L463.65 463.95Q463.25 470.3 458 469.65 454.9 475.05 450.15 474L446.55 470.9Q441.05 474.6 436.4 470.25L414.25 445.9Q410.1 444.2 407.45 427.4L369.7 378.95Q347.55 350.5 341.2 318.4L329.85 274.65Q327.85 280.4 325.2 285.25 317.65 321.4 320.5 349.15 322.45 367.75 321.3 375.4 328.05 403.55 326.85 436.45 327.15 461.9 322.95 482.3M330.95 231.8Q331.9 239.2 331.25 243.95 333.35 245.85 335.1 248.5 338.75 254.05 340.95 263.1M335.1 248.5Q333.7 263.35 329.85 274.65M331.25 243.95Q330.55 249.45 327.65 251.45M288.4 73.6Q290 77.1 288.4 79.8L289.8 80.8 M288.4 79.8Q283.05 81.95 277.75 79.8M176.55 167.45Q180.35 167.6 184.8 168.95M217.6 145.1Q216.25 150.25 214.1 151.95M296.2 112.2 290 112.8M268.6 131.4Q272.4 132.75 273.6 133.2M310.5 166.1Q314.9 165.7 320.1 165.85M274.45 141.75Q275.45 148.25 276.9 149.3M167.85 229.95Q168.55 235.25 169.45 239.15 171 246.1 173.15 248.55M170 271.65Q168.05 261.95 166.25 250 164.1 255.4 161.5 258M169.45 239.15Q168 245.55 166.25 250M175.3 376.3Q175.6 379 176.2 381.6M321.3 375.4Q320.75 379.25 319.5 380.35M161.1 175.1Q161.8 174 162.7 173M255.05 482.1 255.05 472.6Q252.45 473.35 249.8 472.85L249.8 482.1M255.05 472.6Q257.6 471.85 260.15 469.8M243.35 469.8Q246.65 472.25 249.8 472.85M46.65 438.25Q54.05 435.35 58.25 427.5M51.15 471 66.75 453.3M34.85 462.95 55.25 440.75M39.7 469.75 61.75 446.75M446.55 470.9 431.2 452.4M451.05 438.15Q443.65 435.25 439.45 427.4M462.85 462.85 442.45 440.65M458 469.65 437.45 447.4"/>

    <!--SmallBowel:小腸-->
    <path class="tissue" id="11" onClick="click(this)"
          d="M209.45 329.95 218.85 329.95Q219.9 335.65 221.7 338.45 223.05 338.35 224.55 338.5 230 340.25 232.2 342.6 232.85 342.5 233.55 342.4 236.35 341.8 238.85 344.4 243.25 343.95 245.25 348 250.35 343.25 257.1 347.6 262.85 344.75 271.6 346.1 274.85 343.5 280.3 342.3 286.6 338.35 290.2 341.25 294.9 348.9 290.2 356.9 289.5 357.9 288.85 358.95 292.6 360.5 293.3 364.9 293.7 378.75 286.75 384.95 286.55 391.8 284.15 394.95 275.95 403.9 270.45 396.8 270.2 397.25 269.95 397.65 260.85 408.55 251.95 395.8 247 403.45 241.15 404.6 232.15 404.95 231.75 396 230.35 396.85 228.7 397.05 222.4 396.3 218.25 389.45 217.1 382.95 209.85 383.35 209.8 381.9 210 380.75 204.8 370.55 207.75 356.3 206.4 350.15 210.4 346.4 208.7 343.3 209.45 329.95M224.4 349.55Q224.65 349.9 224.9 350.25 224.65 349.9 224.4 349.55 218.5 341.75 212.7 344.75 211.35 345.5 210.4 346.4 211.35 345.5 212.7 344.75 218.5 341.75 224.4 349.55 225.55 343.9 232.2 342.6 225.55 343.9 224.4 349.55M212.7 344.75Q214.3 338.75 221.7 338.45 214.3 338.75 212.7 344.75M233.75 350.6Q235.3 352.4 236.35 354.65 237.2 353.55 237.6 351.85 238.05 350.15 237.75 348.95 238.05 350.15 237.6 351.85 237.2 353.55 236.35 354.65 235.3 352.4 233.75 350.6M224.9 350.25Q229.2 362.25 227.65 367.2 230.35 369.85 229.95 373.3 232.35 371.4 236.7 371.15 237.25 371.2 237.7 371.25 237.95 371.25 238.15 371.3 239.45 361.25 236.35 354.65 239.45 361.25 238.15 371.3 237.95 371.25 237.7 371.25 237.25 371.2 236.7 371.15 232.35 371.4 229.95 373.3 230.35 369.85 227.65 367.2 229.2 362.25 224.9 350.25M227.65 367.2Q226.9 369.55 224.9 370.3 226.9 369.55 227.65 367.2M212 355.4Q214.05 356.95 215.4 358.95 218.95 357.85 219.15 352.8 218.95 357.85 215.4 358.95 214.05 356.95 212 355.4M226.65 388.25 Q227.25 386.75 227.55 385.4 228.2 382.2 226.95 379.6 226.8 379.3 226.65 379.05 223.7 374.3 217.8 374.8 216.5 374.95 215 375.3 210.8 376.4 210 380.75 210.8 376.4 215 375.3 216.5 374.95 217.8 374.8 223.7 374.3 226.65 379.05 226.8 379.3 226.95 379.6 228.2 382.2 227.55 385.4 227.25 386.75 226.65 388.25M229.95 373.3Q227.3 375.45 226.95 379.6 227.3 375.45 229.95 373.3M227.55 385.4Q230.2 384.25 232.55 387.2 230.2 384.25 227.55 385.4M237.75 382.7Q237.6 384.1 237.4 385.4 239.35 385.3 240.45 381.7 239.35 385.3 237.4 385.4 237.6 384.1 237.75 382.7M215.4 358.95Q219.6 364.9 217.8 374.8 219.6 364.9 215.4 358.95M262.1 359.25Q265.4 361.05 269.95 360.95 272.9 360.85 275.3 360 280.95 357.85 283.4 351.1 283.85 348.8 282.15 346.05 283.85 348.8 283.4 351.1 280.95 357.85 275.3 360 272.9 360.85 269.95 360.95 265.4 361.05 262.1 359.25M266.9 354.75Q267.3 351.35 269.1 348.75 264.65 348 263 350.7 264.65 348 269.1 348.75 267.3 351.35 266.9 354.75M259.1 362.85Q260.25 360.9 262.1 359.25 260.6 358.45 259.35 357.2 259.35 360.3 259.1 362.85 257.05 366.2 257.05 370.4 257.05 366.2 259.1 362.85M259.35 357.2Q258.15 356.05 257.2 354.45 258.15 356.05 259.35 357.2M245.25 348Q246.4 350.35 246.75 354.15 247.8 369.25 243.9 374.55 244.95 375.8 245.5 377.6 249.35 374.9 252.6 374.9 249.35 374.9 245.5 377.6 244.95 375.8 243.9 374.55 247.8 369.25 246.75 354.15 246.4 350.35 245.25 348M252.6 374.9Q255.6 374.9 258.1 377.3 257 373.6 257.05 370.4 255.4 373.65 252.6 374.9M253.5 350.05 Q255.15 348.6 257.1 347.6 255.15 348.6 253.5 350.05M245.5 377.6Q246.7 381.15 246.25 386.7 246 392.55 242.95 395.2 246 392.55 246.25 386.7 246.7 381.15 245.5 377.6M258.1 377.3Q259 378.15 259.85 379.3 262.55 383.55 261.1 391.3 262.55 383.55 259.85 379.3 259 378.15 258.1 377.3M251.95 395.8Q253.5 393.45 253.5 386.6 253.5 393.45 251.95 395.8M270.45 396.8Q272.3 392.9 272.3 386.05 271.75 385.3 271.2 384.25 269.05 380.05 270.8 372.55 267.25 367.1 264.15 366.9 267.25 367.1 270.8 372.55 269.05 380.05 271.2 384.25 271.75 385.3 272.3 386.05 272.3 392.9 270.45 396.8M281 386.55Q278.9 388.3 277.05 388.55 279.05 390.25 279.3 393.45 279.05 390.25 277.05 388.55 278.9 388.3 281 386.55M272.3 386.05Q274.35 388.9 277.05 388.55 274.35 388.9 272.3 386.05M275.3 360Q272 367.1 270.8 372.55 272 367.1 275.3 360M269.1 348.75Q270.15 347.3 271.6 346.1 270.15 347.3 269.1 348.75M283.4 351.1Q285.95 351.35 287.3 349.05 285.95 351.35 283.4 351.1M288.85 358.95Q281.8 369.7 281.75 378.85 281.6 383.35 286.75 384.95 281.6 383.35 281.75 378.85 281.8 369.7 288.85 358.95M238.15 371.3Q241.85 371.85 243.9 374.55 241.85 371.85 238.15 371.3M231.75 396Q235.9 393.5 237.4 385.4 235.9 393.5 231.75 396"/>

    <!--Spleen:脾臓-->
    <path class="tissue" id="12" onClick="click(this)"
          d="M307.9 285.75Q304.35 285.25 303.4 287.35 304.35 285.25 307.9 285.75M298.8 284Q299.15 287.15 300.6 288.85 301.1 289.55 301.85 289.95 301.1 289.55 300.6 288.85 299.15 287.15 298.8 284M300.95 279.4Q305.85 280.35 307.9 285.75 313.55 290.95 311.2 297.5 313.35 306 307.1 306.7 303.35 307.05 298.9 301.6 294.95 296.3 294.8 285.75 293.3 279.2 300.95 279.4M307.7 298.75Q310.4 299.9 311.2 297.5 310.4 299.9 307.7 298.75M304.2 296.9Q303.2 297.3 302.85 298 302.35 298.85 302.85 300.25 302.35 298.85 302.85 298 303.2 297.3 304.2 296.9M300.6 288.85Q299.6 294.2 302.85 298 299.6 294.2 300.6 288.85"/>

    <!--Testes:精巣-->
    <path class="tissue" id="13" onClick="click(this)"
          d="M266.15 455.3Q267.2 456.95 267.2 459.25 267.2 461.55 266.15 463.15 265.15 464.75 263.7 464.75 262.3 464.75 261.25 463.15 260.25 461.55 260.25 459.25 260.25 456.95 261.25 455.3 262.3 453.75 263.7 453.75 265.15 453.75 266.15 455.3M240 453.75Q241.4 453.75 242.45 455.3 243.45 456.95 243.45 459.25 243.45 461.55 242.45 463.15 241.4 464.75 240 464.75 238.55 464.75 237.55 463.15 236.5 461.55 236.5 459.25 236.5 456.95 237.55 455.3 238.55 453.75 240 453.75"/>

    <!--Thymus:胸腺-->
    <path class="tissue" id="14" onClick="click(this)"
          d="M250.85 161.65Q252.75 161.05 254.7 160.7 259.1 162.4 258.95 166.75 259 170.65 257.6 172.45 258.25 174.75 257.6 177.45 258.5 179.7 257.5 181.95 258.15 184.6 257.4 186.75 258.5 189.25 256.65 191.8L250.5 194.65Q247.5 193.85 246.45 193.65L251.75 190.95Q253.6 188.45 253.95 186.15 253.25 183.8 253.7 181.25 253.55 178.9 253.75 176.75 253.3 173.95 253.35 171.3 252.55 169.05 252.6 166 252.4 163.9 250.85 161.65 252.4 163.9 252.6 166 252.55 169.05 253.35 171.3 253.3 173.95 253.75 176.75 253.55 178.9 253.7 181.25 253.25 183.8 253.95 186.15 253.6 188.45 251.75 190.95L246.45 193.65 243.35 194.25Q240.95 190.35 242.2 187.35 241.95 185.15 242.3 181.35 241.5 179.25 241.1 177.75 241.5 174.5 241.1 171.95 241.45 169.75 242.05 167.5 241.35 165 241.8 161.4 246 159.7 250.3 160.9 250.6 161.25 250.85 161.65"/>

    <!--Serum:血清-->
    <path class="tissue_serum" id="15" onClick="click(this) "d="M209.968 73.6001C210.756 83.9844 214.1 89.4961 214.1 89.4961L226.504 105.2441 226.504 119.4175 226.504 136.7402 226.504 156.4253 215.85 168.2002 191.071 178.4721 170.0002 191.8581C170.0002 191.8581 153.2755 188.4311 149.3385 205.4991 145.4015 222.5671 145.4015 243.9501 145.4015 243.9501L145.4015 271.6501 136.7399 301.3071 106.819 375.4001 133.5905 320.2051 143.0392 298.1571 153.2755 263.1001 151.7008 235.9531 154.0627 210.2851 161.9005 199.7321 175.3 197.3701 184.8 190.2831 194.2204 181.6221 209.968 175.1001 215.85 173C215.85 173 224.142 164.2993 226.504 181.6221 228.866 198.9451 235.165 205.4991 235.165 205.4991L239.961 221.0971 245.26 239.3391 246.575 263.1001 245.26 306.8181 246.575 343.8271 245.26 369.0231 217.6 381.6001C217.6 381.6001 207.607 392.6451 204.4567 405.2441 201.3068 417.8431 202.882 443.8271 202.882 443.8271L202.882 455.6381 206.819 423.3541 209.968 406.0311 223.354 387.9211 245.26 376.3001 273.6 389.4961 283.075 413.1181 290 439.8901 293.1 458.7871 293.1 427.4001 283.075 393.4331 265.874 375.4001 253.461 369.0231 250 329.6531 252.425 302.0951 252.425 266.1931 252.425 243.9501 245.26 214.3291C261.15 192.6451 275.676 186.3461 275.676 186.3461L293.1 186.3461 310.5 189.4981 329.45 205.4991 340.95 216.1451 346.189 231.8001 346.189 251.4501 350.126 274.6501 354.063 296.5831 362.725 320.2051 365.927 328.2111 370.598 339.8901 383.196 361.9361 361.15 303.6691 356.425 284.7711 350.913 247.7001 348.551 222.4191 335.1 199.7321 315.3 185.5591 293.1 179.2601 274.45 175.1001 268.6 158.7871 268.6 136.7402 262.51 159.5747 262.51 175.1001 256.511 184.7711 242.211 201.3071 234.378 175.1001 230.961 158.7871 230.961 133.2002 230.961 116.2676 209.968 73.6001z"/>

</svg>
