<style>

    .tissue
    {
        fill: rgb(204,204,204);
        stroke:rgb(153,153,153);
        opacity: 0.6;
        stroke-width: 2;
        transition-duration: 0ms;
        cursor: pointer;
    }

    .tissue:hover
    {
        fill: rgba(204,204,204) !important;
        stroke: rgba(153,153,153) !important;
        opacity: 0.9 !important;
    }

    .tissue_skin
    {
        fill: none !important;
        stroke:rgb(153,153,153);
        opacity: 0.6;
        stroke-width: 2;
        transition-duration: 0ms;
        cursor: pointer;
    }

    .tissue_skin:hover
    {
        fill: none !important;
        stroke: rgb(153,153,153) !important;
        opacity: 0.9;
    }

    .tissue_serum
    {
        fill: rgb(120,120,120);
        stroke: none !important;
        opacity: 0.6;
        transition-duration: 0ms;
        cursor: pointer;
    }

    .tissue_serum:hover
    {
        fill: rgb(120,120,120);
        opacity: 0.9;
    }

</style>

<!--Mouse:マウス-->
<svg id="Mouse" viewBox="0 0 500 500" width="400" height="400"> <!--widthとheigthの値で画像の大きさを変更できる。-->
    <!--Brain:脳-->
    <path class="tissue" id="0" onClick="click(this)"
          d="M78.85 285.7Q73.7 292.65 88.35 290.6L100.45 288.4 88.35 290.6Q73.7 292.65 78.85 285.7M117.3 280.4Q118.65 281.95 118.95 284.6 119.15 289.1 112.45 293 119.15 289.1 118.95 284.6 118.65 281.95 117.3 280.4M112.45 293Q108.7 295.15 102.9 297.05 88.25 303.9 72.2 294.6 71.25 287.65 78.85 285.7 92.05 276.35 107.8 278.1 114.65 277.35 117.3 280.4 119.8 277.15 121.6 278.2 124.95 277.4 126.6 278.2 130.05 276.8 131.85 280.55 135.95 282.65 131.85 284.15L132.75 287.1Q132.5 289.3 130.85 289.7 130.4 289.75 129.9 289.85 128.55 289.85 126.6 289.1 126.05 290.25 124.5 289.7 120.6 290.55 122.95 284.35 120.6 290.55 124.5 289.7 126.05 290.25 126.6 289.1 128.55 289.85 129.9 289.85 127.2 295 112.45 293M86.25 287.7Q95.15 283.15 103.55 284.35 108.55 285.3 111.15 282.3 108.55 285.3 103.55 284.35 95.15 283.15 86.25 287.7M112.5 286.6Q104.5 293 91.05 293.3 104.5 293 112.5 286.6M121.6 278.2Q122.4 278.7 123.2 280.4 122.4 278.7 121.6 278.2M127.9 280.4Q127.8 278.75 126.6 278.2 127.8 278.75 127.9 280.4M126.7 286.1Q127.05 288.2 126.6 289.1 127.05 288.2 126.7 286.1M102.9 297.05Q91.7 297.85 85.75 294.35 91.7 297.85 102.9 297.05"/>

    <!--Cornea:角膜-->
    <path class="tissue" id="1" onClick="click(this)"
          d="M75.4 304Q76.4 305 76.4 306.4 76.4 307.8 75.4 308.8 74.45 309.75 73.05 309.75 71.65 309.75 70.7 308.8 69.75 307.8 69.75 306.4 69.75 305 70.7 304 71.65 303.1 73.05 303.1 74.45 303.1 75.4 304"/>

    <!--Heart:心臓-->
    <path class="tissue" id="2" onClick="click(this)"
          d="M173 320.5Q172.3 324.8 174.2 327.35 177.35 325.5 181.9 327.35 190.5 330.7 191.3 335 197.3 344.1 196.4 354.35 193.6 366.5 177.2 359.2 166 348.55 172.45 336.8 170.55 335.5 169.65 333.6 166.85 330.45 167.4 320.5L173 320.5M171.85 329.35Q172.95 328.05 174.2 327.35 172.95 328.05 171.85 329.35M191.3 335Q190.15 338.05 186.75 339.15 185.9 339.45 184.8 339.6 176.45 339.5 172.45 336.8 176.45 339.5 184.8 339.6 185.9 339.45 186.75 339.15 190.15 338.05 191.3 335"/>

    <!--Kidney:腎臓-->
    <path class="tissue" id="3" onClick="click(this)"
          d="M306.65 254Q299.3 253.45 297.6 257.2 299.3 253.45 306.65 254 322.15 254.55 320.35 262.55 316.95 270.8 300.85 269.8 280.75 268.1 283.85 254.55 288.6 244.8 306.65 254"/>

    <!--LargeBowel:大腸-->
    <path class="tissue" id="4" onClick="click(this)"
          d="M356.85 275Q362.9 278 363.2 286.15 371.75 283.65 374.65 292.4 379.8 313 369.75 332.05 351.6 360.3 319.45 360.5 301.95 359.9 308.1 342.55 306.05 342.1 303.95 340.95 292.75 329.9 303.95 307.05 307.25 303.55 303.95 295.05 300.45 291.3 300.7 284.8 301.05 275.85 311.45 273.65 330.4 274.55 331.05 293.7 334.8 293.05 336.85 283.45 342.1 271.8 356.85 275M363.2 286.15Q363.4 290.25 362.2 295.5 360.2 301.1 355.95 303.45 357.7 321.95 341.75 329.85 330.55 335.15 329.25 340.45 330.55 335.15 341.75 329.85 357.7 321.95 355.95 303.45 360.2 301.1 362.2 295.5 363.4 290.25 363.2 286.15M324.35 323.1Q326.55 325.65 326.55 328.7 340.35 317.1 340.8 302.15 345.25 289.9 349.75 287.95 345.25 289.9 340.8 302.15 340.35 317.1 326.55 328.7 326.55 325.65 324.35 323.1M355.95 303.45Q354.95 304 353.7 304.4 354.95 304 355.95 303.45M308.1 342.55Q318.8 343.25 323.2 337.3 327.55 331.3 326.55 328.7 327.55 331.3 323.2 337.3 318.8 343.25 308.1 342.55M331.05 293.7Q332.5 301.3 317.25 315.55 311.05 319.6 311.9 328.95 311.05 319.6 317.25 315.55 332.5 301.3 331.05 293.7M313.65 299.5Q307.2 298.5 303.95 295.05 307.2 298.5 313.65 299.5"/>

    <!--Liver:肝臓-->
    <path class="tissue" id="5" onClick="click(this)"
          d="M234 306.9Q236.35 306.1 238.35 307.55 240.8 324.75 246.4 338.7 252.1 359 240.15 365 236.95 365.6 233.9 366.05 236.95 365.6 240.15 365 252.1 359 246.4 338.7 240.8 324.75 238.35 307.55 236.35 306.1 234 306.9 229.85 286.35 240.15 281.7 252.8 276 260.3 297.75 273.35 336.05 260.3 358.75 250.15 371.55 233.9 366.05 217.6 368.35 205.65 365.45 191.35 362.05 204.55 342.75 219.05 329 223.25 318.2 229.35 308.5 234 306.9"/>

    <!--Lung:肺-->
    <path class="tissue" id="6" onClick="click(this)"
          d="M238 273.25Q245.8 269.35 245.15 279.05 243.6 292.2 238.95 313.8 234.2 335.45 208.65 338.7 196 340.5 190.15 334.4 184.45 328.25 177.9 326.7 163.95 320 172.6 307.95 199.7 287.7 221.05 281.7L238 273.25M221.05 281.7Q224.3 281.45 226.4 282.3 224.3 281.45 221.05 281.7"/>

    <!--Lymph Node:リンパ節（腺）-->
    <path class="tissue" id="7" onClick="click(this)"
          d="M388.65 360.1Q388.85 360.85 387.6 361.75 386.35 362.6 384.45 363.15 382.45 363.75 380.9 363.6 379.45 363.5 379.3 362.75 379.05 362.05 380.25 361.15 381.6 360.3 383.45 359.75 385.4 359.2 386.95 359.3 388.45 359.45 388.65 360.1M145 292.8Q146.4 292.3 147 292.95 147.8 293.6 147.35 295 146.75 296.4 145.4 297.9 144.1 299.2 142.8 299.9 141.4 300.45 140.65 299.8 139.95 299.2 140.45 297.75 140.85 296.3 142.25 294.85 143.6 293.35 145 292.8M132.7 327.6Q131.1 327.35 130.15 326.5 129.15 325.65 129.3 324.75 129.45 323.75 130.7 323.3 131.9 322.8 133.45 323.05 135 323.35 136 324.15 137 325.05 136.85 326 136.7 326.9 135.45 327.4 134.25 327.9 132.7 327.6M101 331.55Q101.75 330.8 102.95 330.4 104.15 329.95 105.1 330.1 106.2 330.3 106.45 331.05 106.7 331.7 106 332.55 105.35 333.3 104.1 333.7 102.9 334.15 101.85 333.95 100.8 333.85 100.6 333.1 100.35 332.35 101 331.55M219.95 370.9Q221.05 371.5 221.05 372.35 221.05 373.15 219.95 373.7 218.8 374.3 217.3 374.3 215.75 374.3 214.55 373.7 213.5 373.15 213.5 372.35 213.5 371.5 214.55 370.9 215.75 370.3 217.3 370.3 218.8 370.3 219.95 370.9M227.95 373.8Q227.3 374.3 226.4 374.3 225.45 374.3 224.75 373.8 224.15 373.35 224.15 372.75 224.15 372.2 224.75 371.7 225.45 371.2 226.4 371.2 227.3 371.2 227.95 371.7 228.65 372.2 228.65 372.75 228.65 373.35 227.95 373.8"/>

    <!--Ovaries:卵巣-->
    <path class="tissue" id="8" onClick="click(this)"
          d="M326.3 269.85Q325.65 275.7 318 270.85 317.55 270.65 317.1 270.6 316.3 270.25 315.6 269.95 308.6 266.95 312.05 262 314.95 258.1 318.35 261.8 322.3 262.15 323.55 262.75 324.7 263.3 325.85 263.7 326.95 264 326.3 269.85M318 270.85Q319.95 270.15 321.3 268.35 319.95 270.15 318 270.85M320.45 264.35Q319.45 262.95 318.35 261.8 319.45 262.95 320.45 264.35"/>

    <!--Pancreas:膵臓-->
    <path class="tissue" id="9" onClick="click(this)"
          d="M278 284.8Q277 282.8 277.75 281.75 278.45 280.6 278.45 279.95 277.55 276.1 280.9 274.3 282.2 272.55 284.1 271.25L284.15 271.25Q284.8 270.75 285.5 270.4 287.15 268.65 289.9 268.3 292.6 267.9 294.75 269.9 295.4 270.15 295.95 270.5 298.05 270.6 298.8 271.85 299.55 273.15 299.95 273.6 302.3 275.25 302.15 277 301.9 278.7 301.9 279.05 301.85 279.4 302.7 280.45 303.5 281.55 303 282.9 302.5 284.35 302.5 284.7 303.35 287.15 303 288.4 302.55 289.7 302.15 290.4 302.9 293.4 301.7 294.2 300.5 294.9 299.75 295.6 299.45 297.6 298.15 298.05 296.9 298.5 295.8 298.85 294.95 301.2 292.9 300.85 290.85 300.5 290.7 300.55 290.55 300.6 290.35 300.55 288.8 301.35 287.75 301 286.65 300.6 285.75 299.35 284.15 299.35 283.05 298.75 282 298.15 281.7 296.1 279.15 295.85 279.25 294.2 279.3 292.5 279.25 291.8 277.7 290.75 277.5 289.2 277.3 287.55 278.05 285.95 278 285.35 278 284.8M298.75 278.4Q298.45 281.85 295 281.25 298.45 281.85 298.75 278.4M285.6 290.15Q289.45 293.85 291.6 290.15 289.45 293.85 285.6 290.15M296.45 290.35Q297.05 294.6 291.4 294.4 297.05 294.6 296.45 290.35M299.85 283.95Q299.95 288 294.75 287.7 299.95 288 299.85 283.95M297 273.9Q297 277.25 293.6 277.25 297 277.25 297 273.9M282.5 291.95Q283.25 296.6 288.25 295.3 283.25 296.6 282.5 291.95M280.9 285.45Q282.25 288.45 286.25 287.95 282.25 288.45 280.9 285.45M289.85 298.2Q294.05 299.7 295.65 295.9 294.05 299.7 289.85 298.2"/>

    <!--Skin:皮膚-->
    <path class="tissue_skin" id="10" onClick="click(this)"
          d="M292.85 407.95Q289.9 409.1 289.1 411 305.35 411.65 319.6 409.45 327.9 404.55 339.6 400.35 347.5 397.35 356.95 394.7 358.25 394.2 359.2 393.45 361.5 391.4 361.65 387.65L360.4 381.1Q355.1 381.8 349.15 381.4 339 383.55 330.5 383.3 332.9 389.8 326.7 392.1 311.25 399 288.65 395.85 273.9 398.45 273.7 401.9L280.3 401.5M349.45 400.35Q347.65 401.15 346.5 402.3 356.5 403.9 375.9 402.3 383.4 397.35 387.25 386.5L395 376.15Q390 372.5 385.6 366.75 380.65 372.85 374.35 376.35 377.4 379.9 375.4 384.95 369.8 392.85 359.2 393.45M374.35 376.35Q368 380 360.4 381.1M330.5 383.3Q320.8 382.95 313.1 379.35 271.2 369.1 245.05 376.05 236 377.8 225.95 378.35L226.35 387.15Q224 394.05 218.35 397.65 205.5 401.15 188.5 400.55 190.1 397.5 196.35 396.65 190.15 395.5 183.85 397 184.9 392.1 203 392.1 211.1 390.25 209.4 378.65 206.6 378.6 203.7 378.5 193.55 389.1 176.55 392.1 173.6 395.5 162.25 397.4 133.15 409.85 119.1 407.2L121.75 405.3 108.2 405.9Q109 403.75 111.75 402.1L102.6 402.1Q104.05 400.25 107.45 398.4L104.2 396.75Q109.1 392.45 121.1 391.6L127.55 393.85Q146.05 392.35 150.3 384.1 154.95 371.9 132.6 359.6 113.4 349.1 102.6 349.4L76.85 348.95Q63.5 347.2 57.25 347.3 51 347.35 48.85 346.85 42.35 345.2 44.25 342.8 25.75 342.45 22.95 332L15.85 326.2Q13.75 318.9 20.8 314.7 28.75 312.6 33.25 307.1 46.2 301.25 53.25 291.55L59.5 287.45Q80.8 279.3 93.3 272.2L90.2 261.25Q88 245.25 103.15 236.35 113.5 229.35 116.1 241.2 113.45 250 115.15 255.8 117.3 253.45 120.4 251.95 132.9 243.1 146.3 246.5 155.7 250.35 157.35 266.15 157.95 269.15 157.8 271.55 177.05 268.45 200.95 255.9 230.35 230.45 265 222.5 304.1 215 341.55 224.3 380.95 236.4 420.8 307.1L450.1 351.15Q451.8 353.6 449.9 356.2 496.6 394.3 480.35 436.1 471.9 463.45 432.3 477.5 375 487.5 317.55 456.15 249.15 412 161.8 420.95 227 398 330 447.7 423.05 489.2 460.85 445 493.5 392.85 429 365.05 429.2 366.65 429.15 368.1 428.95 377.25 419 381.8 405.55 383.75 395 376.15M449.9 356.2Q448 358.75 442.6 361.4 432.45 364.6 427.45 359.15 428.6 362.3 429 365.05M111.4 269.2Q100.9 266.5 98.2 269.25 95.95 270.65 93.3 272.2M111.4 269.2Q110.75 260.8 115.15 255.8M225.95 378.35Q218 378.85 209.4 378.65M292.85 407.95 277.25 409.9Q278.85 408.05 280.95 406.7L270.2 407.2 Q275.1 403.4 280.3 401.5M349.45 400.35 339.6 400.35M280.3 401.5Q287.4 398.8 295.1 399.6M378.05 386.25Q371.05 392.65 370.5 400.55L380.95 393.45 383.65 387.9M112 273.25Q111.55 271.15 111.4 269.2M157.8 271.55Q157.6 279.1 151.6 280.85M60.45 304.65Q60.85 305.15 61.6 305.6 65.65 308.2 67.6 305.65 69.5 303.1 72.65 302.65 75.05 302.3 77.25 306M44.25 342.8Q49.65 342.9 56.85 342.2M203.7 378.5Q208.45 373.4 208.95 370.7M313.1 379.35Q306.55 376.25 301.5 370.7M306.7 405.4Q297.15 406.25 292.85 407.95M298.7 403Q287.15 402.85 280.95 406.7M212.55 390.35Q210.4 393.75 202.1 396.35 198.85 396.35 196.35 396.65M121.75 405.3 124.45 403.4Q132.8 402.55 135.8 400.8M129.6 398.35 118.9 399.15Q114.4 400.4 111.75 402.1M349.45 400.35Q354.95 397.5 365.85 397.65L368.55 395.4M127.55 396.1 117.1 394.3 Q111.15 396.35 107.45 398.4"/>

    <!--SmallBowel:小腸-->
    <path class="tissue" id="11" onClick="click(this)"
          d="M292.35 315.15Q293.05 318 291.95 319.05 297.4 327.85 291.55 338.55L289.65 344.25 291.55 338.55Q297.4 327.85 291.95 319.05 293.05 318 292.35 315.15M300.75 320Q304 335.85 300.3 342.8 304.15 340.85 308.75 343.4 313.35 347.55 311.95 351.4L321.25 357.4Q318.25 367.8 304.75 365.4 297.15 362.8 290.3 365.4 275.55 367.15 274.25 361.05 271.85 364.15 266 362.1 261.75 364.2 254.7 362.75L254.7 356.75Q258.2 357.05 262.45 353.15 268.5 344.8 270.05 331.1 272.75 320.1 280.75 324.9 278.9 312.35 287.6 308.75 295.55 305.4 300.75 320M280.75 324.9Q288.1 328.3 284.3 339.6L280.05 348.8Q279.7 351.5 278.9 353.55 282.85 348.95 291.9 349.4 294.35 349.2 296.5 346.05 298.35 343.9 300.3 342.8 298.35 343.9 296.5 346.05 294.35 349.2 291.9 349.4 282.85 348.95 278.9 353.55 279.7 351.5 280.05 348.8L284.3 339.6Q288.1 328.3 280.75 324.9M287.2 319.15Q290.7 320.2 291.95 319.05 290.7 320.2 287.2 319.15M266 362.1Q269.25 360.5 270.7 356.75L273.9 346.95Q281.35 343.05 279 333.4 281.35 343.05 273.9 346.95 L270.7 356.75Q269.25 360.5 266 362.1M274.25 361.05Q277.25 357.6 278.9 353.55 277.25 357.6 274.25 361.05M311.95 351.4Q311.65 352.4 310.8 353.35 305.8 357.95 294.1 356.45 287.9 355.75 284.3 359.45 287.9 355.75 294.1 356.45 305.8 357.95 310.8 353.35 311.65 352.4 311.95 351.4"/>

    <!--Spleen:脾臓-->
    <path class="tissue" id="12" onClick="click(this)"
          d="M265.1 255Q284.85 253.3 293.6 273.65 297 293.55 285.95 289.1 275 284.8 268.25 276.8 261.45 268.8 253.5 264.8 248.8 257.9 265.1 255"/>

    <!--Testes:精巣-->
    <path class="tissue" id="13" onClick="click(this)"
          d="M401.9 356.95Q406.15 355.7 411.4 357.55 416.7 359.45 419.4 362.7 422.3 365.95 421.35 369.3 420.4 372.75 416.35 374.25 412.3 375.7 407.4 374.3 402.5 373.1 399.65 369.8 396.85 366.45 397.25 362.35 397.6 358.15 401.9 356.95"/>

    <!--Thymus:胸腺-->
    <path class="tissue" id="14" onClick="click(this)"
          d="M171.2 352.25Q170.75 355.75 168.15 356.1 170.75 355.75 171.2 352.25 178.95 356.15 175 361.65 169.85 364.25 160.6 358.8 152.3 355.25 155.9 341.6 159.35 333 163.9 338.05 166.55 333.3 169.2 337.4L171.2 352.25"/>

    <!--Serum:血清-->
    <path class="tissue_serum" id="15" onClick="click(this) "d="M172 329C176.51514 301 190.0034 276 190.0034 276L202.4756 257 230.6929 244 275.842 237 300.674 237 309.703 237 346.951 250 376.277 273.7363 381.547 278 400 316 362.753 276 351.465 269.2002 361.623 322 358.237 349.535 352.594 317 341.307 274 323.247 250 300.674 244 265.6836 245 230.6929 250 206.9902 269.2002 190.0034 300 182.1582 319 172 329Z"/>
</svg>
