<style>
    .tissue
    {
        fill: rgb(204,204,204);
        stroke:rgb(153,153,153);
        opacity: 0.6;
        stroke-width: 2;
        transition-duration: 0ms;
        cursor: pointer;
    }

    .tissue:hover
    {
        fill: rgba(204,204,204) !important;
        stroke: rgba(153,153,153) !important;
        opacity: 0.9 !important;
    }

    .tissue_skin
    {
		stroke: none !important;
		fill: rgb(153,153,153);
		opacity: 0.6;
		transition-duration: 0ms;
		cursor: pointer;
    }

    .tissue_skin:hover
    {
		fill: rgb(153,153,153);
		stroke: none !important;
		opacity: 0.9;
    }

</style>
<!--Zebrafish:ゼブラフィッシュ-->
<svg id="Zebrafish" viewBox="0 0 500 500" width="400" height="400"> <!--widthとheigthの値で画像の大きさを変更できる。-->
    <!--Brain:脳-->
    <g class="tissue" id="0" onClick="click(this)">
		<path d="M49 229L51.0556 229L53 228.917L55 228.583L56.8889 227.944L57.6944 227.417L58.2222 227.167L59 226L60.5 226.972L61.0556 227.139L62.0556 227.556L64 227.917L65 227.972L67 228L68 228L70 228.083L72 228.417L74 229.111L75 229.611L77 230.778L78 231.306L80 231.889L82 232.111L84 232.639L86 233.611L88 234.5L89.9722 234.861L90.9167 234.833L92.6111 234.778L94.2222 234.861L95.0833 234.944L97 234.972L98.9722 234.667L100.667 233.667L101.25 232.917L101.556 232.083L101.611 231.333L101.139 230.361L100 230L101.5 229.25L102.056 229.167L103.972 228.528L105.667 227.5L106.278 226.806L106.667 225.972L107 224L109.056 223.972L110.056 223.917L112 223.611L114 223.139L115 222.861L116 222.611L118 221.972L119 221.611L121 220.75L122 220.222L123 219.778L124 219.222L125 218.778L126 218.222L128 217.167L129 216.611L131 215.333L132.917 214L134.5 212.583L135.056 211.778L135.667 209.972L135.694 209.056L135.556 208.056L135 206L129 206L127 206L126 206L124 206L123 205.972L121 205.667L119 204.694L117 203.306L116 202.722L114 202.083L113 201.917L111 201.361L109 200.361L108 199.833L107 199.278L106 198.861L105 198.472L103 198.083L102 198.056L101 198.083L99 198.5L97 199.361L95 200.111L94 200.222L92 199.806L90 199.25L89 199.083L88 199.028L86 199L84 199.083L83 199.25L82 199.472L80 200.25L79 200.75L78 201.167L76 202.083L75 202.639L73 204L71 205.278L70 205.694L69 205.972L67 206.417L65 207L64 207.333L62 208.028L61 208.417L59.0278 209.5L58.0833 210.25L56.4167 212.028L55 214L53.5833 215.917L51.9167 217.528L51 218.167L49.25 219.472L47.9444 221.083L47.2778 223L47.1667 224L47.4444 225.944L47.8611 226.944L49 229z M59 226L58.5530 225L56.344 223L55.211 222.111L53.221 221.110L52.889 220.880L51.992 219.440L51.668 218.990L51 218.167M55.211 222.111L59 221.221L61 221.111L63 220.806L64 220.389L66 219.611L68 218.861L69 218.556L70.9444 218.472L72.5 218.75L74 219L73.2222 217.778L72.6944 217.417L71.9167 216.778L71.0556 216.167L69.5 214.75L68.9167 213.917L68.3889 212.972L67.4167 211.111L66.3889 209.778L65 209L64 207.333M73 204L72 207L71.7222 208.5L71.1667 210.056L70.4722 211.944L70.2778 212.5L70 214L69.5 214.75M74 219L75 218.889L78 220.278L79 220.667L81 220.972L82 221L84 220.972L85 220.889L87 220.361L89 219.389L91 218.5L92 218.222L93.9722 217.694L95.6667 216.667L96.2778 215.889L96.8889 214L96.9722 213L97 211L96.8889 209L96.6944 208L96.3611 207L95.8889 206L94.5833 204.083L94.8802 202.998L95.1882 202.777L95.4400 200.5508L97 199.361M95.8889 206L99.0278 206.278L101 206.889L102 206.972L104 206.972L105.944 206.722L107.5 206.139L109 205L109 203L109 200.361M72 228.417L73.1133 226.1143L73.9444 221.194L73.1666 219.455L72.6944 217.417M121 205.667L120.555 206.223L120 208.028L118 208.25L117 208.5L115 209.472L114 210.139L112.056 211.306L110.5 211.889L109 212L109 212L108.472 213.5L107.556 214.944L106.806 215.694L106.417 216.222L105 217L105.667 218.083L106.389 219.222L106.889 220.528L107 222L107.8346 223.8253M108.881 205.3L108.333 208.5L108 210L108.472 213.5M97 211L99.7222 212.028L101.111 213.667L102.028 214.278L103.944 214.833L104.945 216.111L105.960 216.7790M84 220.972L83.1441 222.2512L83 225L84 227L85 228L86.5 227.917L87.9444 227.5L89.2778 226.556L89.8889 225.417L90 224L90.1111 223.3532L90 222.1114L90.0011 221.1111L89 219.389M87.3554 228.333L88.3333 228.75L90 229L91.5 229.972L93.0556 230.778L94 230.583L96 230L97 229.667L99 229L103.972 228.528M83.6944 226.0L82.6955 228.1144L82.3463 229.2532L81.9346 230.5988L82 232.111M93 230L93.3252 231L93.3252 233L93.4574 234L93.9999 234.2525
"/>
	</g>
    <!--Gill:鰓-->
    <g class="tissue" id="1" onClick="click(this)">
    	<path d="M96.1111 233.722L95.3333 234.333L94.3333 236.028L94.1111 238L94.4167 240L95.0278 242L95.8056 244L96.5278 246L96.9167 248L97 250L97 251L97 252L96.9167 254L96.75 255L96.5278 256L95.8056 258L95.3889 259L94.6944 261L94.4167 262L94.1111 264L94.25 266L94.8611 268L95.2778 268.972L96.4722 270.75L97.25 271.5L99.0278 272.5L101 272.917L102 272.972L104 272.972L105 272.917L107 272.583L108 272.306L110 271.611L111 271.194L113 270.389L115 269.611L117 268.722L118 268.139L118.972 267.528L120.778 265.917L121.583 264.972L122.306 264L123.694 262L124.389 261L125.139 260L126.528 258L127.056 257L127.5 256L127.917 254L127.972 253L128 251L128 250L128 248L127.972 247L127.889 246L127.667 245L126.667 243L124.972 241.028L124 240.083L122 238.472L120 237.25L119 236.778L118 236.25L116 235.444L115 235.167L114 234.861L113 234.639L111 234.139L110 233.861L109 233.639L108 233.389L106 233.083L105 233.028L103 233L101 233L100 233L98 233.111L97.0278 233.333L96.1111 233.722z M97 245.4463L98 245L99.5 244.639L100.972 243.667L102.611 241.972L104.167 240.111L105.028 239.306L105.528 238.778L107 238 M97.0008 251.9688L98.1344 251.7478L99 251L100.5 250.5L101.056 250.167L102.056 249.722L104 248.611L106 247.389L107 246.833L108 246.25L109.944 245.25L110.944 244.833L111.5 244.5L113 244 M97.7467 252.8758L99.7778 253.722L100.306 253.75L101.111 253.917L102.028 253.889L104 253.611L105 253.389L107 253L109 252.583L110 252.306L112 251.667L113.917 251.083L115.528 250.833 M97.4114 254.3696L98.2213 255.6356L104 257.083L106 257.389L107 257.611L109 257.917L110 257.972L111.944 258L112.944 258L115 258 M96.1142 259.9252L97.7778 261.139L98.3056 261.361L99.1111 261.806L101 262.389L102 262.694L104 263.306L105 263.611L107 264.139L108 264.389L109.889 265.056L110.694 265.583L111.222 265.833L112 267"/>
	</g>
    <!--Heart:心臓-->
    <g class="tissue" id="2" onClick="click(this)">
	<path d="M121 283L123 283L124.5 281.583L125.056 281.167L127 279.611L129 277.917L130.972 276L131.917 275L133.5 273L134.5 271L134.75 270L134.972 268L135 266.056L135 263L132.944 261.861L131.944 261.444L130 261.111L129 261.139L128 261.333L127 261.694L125 262.861L124.056 263.528L123.056 264.083L122.5 264.472L121 265L120.222 263.5L119.694 262.972L118.889 262.056L117 260.75L116 260.417L114 260.528L112.111 261.5L110.722 263.083L110.333 264.028L110.028 266L110.028 267L110.222 269L110.722 271L111.111 272L111.611 273L112.889 274.972L114.389 276.778L116.083 278.389L117.944 280.028L119.5 281.5L121 283z"/>
	</g>
    <!--Intestine:腸-->
    <g class="tissue" id="3" onClick="click(this)">
		<path d="M167 240.389L166 240.639L165 240.861L163 241.389L162 241.694L160 242.306L159 242.611L158 242.861L157 243.139L155 243.611L154 243.806L152 244.194L150 244.611L149 244.806L147 245.194L146 245.417L145 245.694L143 246.389L142 246.833L141 247.25L140 247.778L138 248.861L137 249.472L135.083 251.083L133.472 253L132.861 254L131.861 256L131.472 257L131.083 259L131.028 260L131 262L131 264L131 266L131.111 268L131.722 270L133.111 272L135 273.972L136 274.917L138 276.583L140 277.917L142 278.917L143 279.306L144 279.667L145 280L147 280.583L148 280.806L150 281.194L152 281.611L154 281.917L156 282.083L157 282.222L159 282.611L160 282.778L162 283.056L164 283.389L165 283.611L167 283.917L168 283.972L170 284L171 284L173 284L175 284L176 284L178 283.972L179 283.917L181 283.611L182 283.389L184 283.083L186 282.917L187 282.778L189 282.389L191 282.056L192 281.944L194 281.611L195 281.361L197 280.861L198 280.639L199 280.361L200 280.139L201 279.861L202 279.639L203 279.361L205 278.861L206 278.611L208 277.972L209 277.583L210.889 276.5L212.278 274.917L212.667 273.972L212.944 272L212.75 270L212.5 269L212.083 268L211.583 267L210.972 266L209.611 264L208.861 263L207.5 261L207.028 260L206.75 259L207.028 257L207.528 256L208.222 255L209.694 253L210.278 252L210.778 250L210.639 249.028L210.278 248.083L208.889 246.5L207 245.417L206 245.028L204 244.417L202 244.056L201 243.944L199 243.611L198 243.389L196 243.083L195 243.028L193 242.917L191 242.583L189 242L187 241.417L185 241L184 240.806L182 240.389L180 240.083L178 240L177 240L174 240L172 240L171 240L169 240.083L167 240.389z"/>
		<path d="M140 260L142.056 260L143.056 260L144 260L146 259.917L147 259.778L148 259.583L150 259L151 258.667L153 257.972L154 257.611L155 257.194L157 256.389L159 255.611L161 254.75L162 254.222L163 253.778L165 252.778L166 252.25L168 251.444L170 250.861L171 250.639L172 250.389L174 250.167L176 250.389L177 250.611L179 250.944L180 251.056L182 251.389L184 251.861L185 252.139L187 252.639L188 252.861L189 253.139L189.944 253.361L191.5 253.75L192.252 254L192.9395 255L193.4745 256L193 258L192 259L190 260L185 259 M193.667 266.889L192.889 266.5L191 266.083L190 266.028L189 266.028L188 266.083L186 266.417L185 266.694L184 267L182 267.667L180 268.306L179 268.611L177 269.139L176 269.361L174 269.861L173 270.139L172 270.361L171 270.639L170 270.861L169 271.139L167 271.694L165 272.389L163 273.194L162 273.611L161 273.972L159 274.583L157 274.889L156 274.889L155 274.778L153 274.361L152 274.139L150 273.528L148.028 272.5L147.111 271.75L145.722 270.028L145.111 268.5L147.056 266.583L148.056 266.306L149 266L151 265.417L152 265.222L153 265.083L155 265L156 265L156.944 265L160 265"/>
	</g>
    <!--Liver:肝臓-->
    <g class="tissue" id="4" onClick="click(this)">
		<path d="M152 234.5L150.028 235.5L149.111 236.25L148.333 237.083L147.722 238.028L147.333 239L147.056 241L147.111 242L147.722 243.972L148.333 244.917L150.028 246.528L151 247.139L153 248.167L154 248.611L156 249.306L157 249.583L159 249.917L160 249.972L162 250L163 250L166 250L168 250L170 249.972L172 249.75L173 249.5L175 248.5L177 246.944L178 246.056L179.972 244.389L180.889 243.611L182.278 241.917L182.778 240L182.639 239L181.667 237.083L180.889 236.25L179 234.944L178 234.5L176 234.083L175 234.028L174 234L173 234L171 234.083L170 234.222L168 234.611L166 234.889L165 234.889L163 234.611L161 234.222L160 234.083L158 234L157 234L156 234L154 234.083L153 234.25L152 234.5z"/>
	</g>
    <!--Ovary:卵巣-->
    <g class="tissue" id="5" onClick="click(this)">
		<path d="M238 236.389L237 236.611L235 236.917L233 237L232 237L230 237.083L229 237.222L227 237.639L226 237.861L225 238.139L224 238.361L223 238.639L222 238.861L220 239.389L219 239.694L218 240L216 240.667L214 241.333L213 241.667L212 242.028L211 242.389L209 243.278L207 244.389L206 245.028L204 246.417L202.028 248.083L201.083 249.028L200.25 250L199.5 251L198.5 253L198.083 255L198 257L198.083 259L198.5 261L199.5 263L200.25 264L201.083 264.972L202.028 265.917L204 267.583L205 268.306L207 269.611L208 270.167L209 270.722L210 271.167L211 271.611L213 272.333L214 272.667L216 273.333L218 274L220 274.611L221 274.861L222 275.139L223 275.361L224 275.639L225 275.861L226 276.139L227 276.361L228 276.611L230 276.917L231 276.972L232 277L234 277.028L235 277.083L237 277.389L238 277.611L240 277.917L241 277.972L243 278L245 278L248 278L255 278L257 278L258 277.972L259 277.917L261 277.611L262 277.389L264 277.056L265 276.944L267 276.611L268 276.389L270 276.056L271 275.944L273 275.611L274 275.361L276 274.861L277 274.611L279 274L281 273.333L283 272.611L285 271.75L286 271.222L288 270.222L289 269.75L291 268.611L293 267.306L294.917 265.778L296.528 263.972L297.722 262L298.139 261L298.528 260L298.917 258L298.917 256L298.528 254L297.722 252L297.139 251L296.528 250.028L294.917 248.222L293 246.694L291 245.389L290 244.833L289 244.25L288 243.778L287 243.222L286 242.778L285 242.25L284 241.833L282 241.028L280 240.389L279 240.139L278 239.861L277 239.639L276 239.361L275 239.139L274 238.861L272 238.389L271 238.194L269 237.806L267 237.389L265 237.083L264 237.028L262 236.972L261 236.917L259 236.611L258 236.389L256 236.083L255 236.028L253 236L251 236L248 236L244 236L242 236L241 236.028L240 236.083L238 236.389z"/>
	</g>

    <!--Skin:表皮-->
    <g class="tissue_skin" id="6" onClick="click(this)">
		<path d="M29 236L27.7778 236.361L26.8889 237.333L26.5 238.111L26.0833 240L26.0278 241L26.0833 243L26.4167 245L27.0833 247L28.0556 249L28.6389 250L29.8056 252L30.3889 253L31.6667 255L32.3333 256L33.6111 258L34.1944 259L35.4444 261L36.1667 262L36.8611 263L37.6389 264L39.1389 266L40.6389 268L41.3889 269L42.2222 270L44.0278 272L46 273.917L48 275.611L49 276.361L51 277.861L52 278.611L53 279.306L55 280.611L57 281.722L58 282.167L60 282.972L62 283.611L63 283.861L64 284.139L66 284.611L68 284.917L69 284.972L71 285.083L73 285.389L74 285.611L76 285.917L77 285.972L79 286L82 286L84 286.028L85 286.083L87 286.389L88 286.611L90 286.917L91 286.972L93 287L94 287L97 287L98 287L100 287.028L101 287.083L103 287.389L104 287.611L106 287.917L107 287.972L108 288L110 288L112 288L114 287.972L115 287.917L117 287.611L118 287.389L120 287.083L121 287.028L122 287L124 287L125 287L127 287.028L128 287.083L130 287.389L131 287.611L133 287.917L134 287.972L136 288L137 288L143 288L145 288L146 288.028L147 288.083L149 288.389L150 288.611L152 288.917L153 288.972L155 289L157 289L158 289.028L159 289.083L161 289.389L162 289.611L164 289.917L165 289.972L167 290L168 290L171 290L180 290L182 290L183 290L185 289.972L186 289.917L188 289.611L189 289.361L190 289.139L191 288.861L192 288.639L193 288.389L195 288.083L197 288L199 288L201 288L202 288.028L203 288.083L205 288.417L206 288.694L208 289.389L210 290.25L211 290.778L212 291.25L213 291.833L214 292.389L216 293.694L218 295.194L219 296L220 296.778L221 297.528L223 298.75L224 299.222L225 299.778L226 300.222L227 300.75L229 301.611L231 302.306L232 302.583L234 302.917L235 302.972L237 303L239 302.917L241 302.5L242.972 301.5L244.778 299.944L246.389 298.25L247.222 297.5L248.083 296.944L249.028 296.5L251 296.083L253 295.972L254.972 295.75L255.917 295.5L257.5 294.5L258.5 292.917L258.917 291L258.972 290L258.972 288L258.917 287L258.611 285L258.389 284.056L258.083 282.5L258 281L259.5 281.083L261.056 281.472L263 282.25L264 282.778L265 283.25L267 284.389L269 285.694L270 286.389L271 287.139L273 288.639L274 289.389L276 291.056L277 291.944L279 293.611L280 294.361L281 295.139L283 296.611L284 297.306L286 298.694L287 299.417L289 301.083L291 302.972L292 303.917L294 305.583L295 306.278L296 306.917L298 307.917L299 308.278L300 308.583L302 308.917L304 309L306 309L308 309L310 308.917L312 308.611L313 308.361L315 307.861L317 307.361L318 307.139L319 306.861L321 306.389L322 306.194L324 305.806L325 305.583L326 305.306L328 304.611L329 304.194L330 303.833L331 303.444L333 302.861L334 302.611L335 302.306L337 301.611L338 301.167L339 300.75L341 299.75L342 299.139L343 298.528L345 296.944L346 296.083L348 294.722L350 294.111L352 293.917L354 293.583L356 292.972L357 292.583L359 291.583L361 290.306L363 288.778L364 287.917L365.917 286L367.583 284L368.306 283L369.611 281L370.194 280L370.833 279L371.444 278L372.167 277L373.528 275L374.472 273L374.667 271L374.472 270.028L374.056 269.083L372.75 267.472L370.972 266.278L370 265.833L369 265.389L367 264.611L365 263.806L364 263.389L362 262.694L360.056 262.222L358.5 262.028L357 262L358.5 261.028L360.056 260.444L362 260.083L364 260L365 260L366 260L368 260.083L369 260.222L371 260.611L372 260.806L374 261.194L375 261.389L376 261.611L378 261.917L380 262L381 262L383 262L388 262L403 262L409 262L411 262L412 262.028L413 262.083L415 262.417L416 262.694L418 263.389L420 264.25L421 264.778L422 265.222L423 265.778L424 266.222L425 266.75L426 267.167L427 267.611L429 268.306L430 268.583L432 268.917L434 269L435 269L436 269L439 269L441 269.028L442 269.083L444 269.389L446 269.778L448 270.056L450 270.389L451 270.639L452 270.861L454 271.389L456 272L457 272.333L459 273L461 273.611L462 273.861L463 274.139L464 274.361L465 274.611L467 274.917L469 275L471 275L473 275L475 274.917L476 274.778L477 274.583L478 274.306L480 273.611L481 273.167L483 272.222L484 271.75L485.972 270.528L487.694 268.917L488.361 267.972L489.278 266L489.583 265L489.917 263L490 261L490 260L490 259L489.917 257L489.583 255L489.278 254L488.917 253L487.917 251L487.278 250L485.861 248L484.361 246L483.611 245L481.917 243.083L480.972 242.222L479 240.639L477 239.139L476 238.389L475 237.694L473 236.306L472 235.583L471 234.806L469 233.194L467.083 231.611L465.389 229.917L463.861 228L462.444 226L461.25 224L460.778 223L459.778 221L459.222 220L458.25 218L457.861 217L457.5 216L457.333 214L457.5 213L458.194 211L458.611 210L459.389 208L459.806 207L460.194 206L460.611 205L461.389 203L461.833 202L462.778 200L463.222 199L463.778 198L464.222 197L464.778 196L465.222 195L466.25 193L467.389 191L468.611 189L469.75 187L470.222 186L470.778 185L471.222 184L471.75 183L472.167 182L472.611 181L472.972 180L473.333 179L474 177L474.667 175L475 174L475.611 172L476.222 170L476.583 169L477.472 167L478.278 165L478.583 164L478.917 162L478.972 160L478.917 159L478.5 157.028L477.5 155.25L476.75 154.5L474.972 153.417L474 153.028L472 152.417L471 152.222L470 152.083L468 152.028L467 152.083L465 152.417L464 152.694L462 153.333L460 154.028L459 154.417L457 155.417L455 156.611L453 157.806L452 158.389L450 159.667L449 160.333L446 162.333L441 165.667L439 167L438 167.694L437 168.389L435 169.861L434 170.639L433 171.361L432 172.139L431 172.861L429 174.361L428 175.139L427 175.861L426 176.639L424 178.139L422 179.639L421 180.389L419 182.083L417 183.917L416 184.778L414 186.389L412 188.056L411 188.944L409 190.611L407 192.194L405 193.806L404 194.583L402 196L401 196.667L400 197.333L398 198.611L397 199.194L395 200.389L394 201L393 201.583L391 202.583L389 203.389L387 204.194L386 204.611L385 204.972L383 205.667L382 206L380 206.583L378 206.917L377 206.972L376 207L374 207L372 207L371 206.972L370 206.917L368 206.611L367 206.389L365 206.083L364 206.028L362 206L360 205.972L359 205.917L357 205.611L356 205.389L354 205.083L353 205.028L351 205L350 205L348 205L346 204.917L344 204.611L343 204.389L341 204.083L340 204.028L339 204L337 204L331 204L331.778 202.75L332.278 202.333L333.028 201.556L334.583 199.917L335.917 198L336.444 197L337.306 195L337.667 194L338 193L338.583 191L339 189L339.389 187L339.611 186L339.917 184L339.972 183L340 181L340 179L340 177L339.972 176L339.917 175L339.583 173L339.306 172L338.583 170L337.583 168L336.972 167L335.667 165L335 164L333.667 162L333 161L331.583 159.028L329.917 157.222L328.972 156.417L327 155.083L325 154.056L324 153.639L323 153.194L321 152.472L319 152.083L318 152.028L317 152L315 152L313 152L311 152.028L310 152.083L308 152.389L307 152.639L305 153.139L304 153.389L302 154.028L300 154.806L299 155.194L298 155.639L297 156.056L295 157.056L294 157.639L293 158.194L291 159.444L289 160.861L288 161.639L287 162.389L285 164.083L283 165.917L281 167.611L280 168.389L278 170.083L276 171.917L274 173.583L273 174.306L272 175L270 176.333L268 177.667L267 178.333L266 178.972L265 179.611L263 180.75L262 181.222L261 181.778L260 182.222L259 182.778L258 183.222L257 183.75L256 184.167L255 184.611L253 185.306L252 185.583L250 185.917L248 186L247 186L245 185.972L244 185.917L242 185.611L241 185.389L239 185.083L238 185.028L236 185L235 185L232 185L231 185L229 184.972L228 184.917L226 184.611L225 184.389L223 184.083L222 184.028L221 184L219 184L213 184L205 184L203 184L201 184.028L200 184.083L198 184.389L197 184.611L195 184.917L194 184.972L193 185L191 185L185 185L184 185L182 185.028L181 185.083L179 185.389L178 185.611L176 185.917L175 185.972L174 186L172 186.028L171 186.083L169 186.389L168 186.611L166 186.917L165 186.972L163 187.083L161 187.389L159 187.778L158 187.944L157 188.056L155 188.389L154 188.611L153 188.806L151 189.194L150 189.389L149 189.611L148 189.806L146 190.194L145 190.389L144 190.611L142 190.917L141 190.972L139 191L138 191L135 191L133 191.028L132 191.083L130 191.389L129 191.611L127 191.917L126 191.972L124 192.083L123 192.222L121 192.639L120 192.861L119 193.139L118 193.361L116 193.861L115 194.139L114 194.361L113 194.639L112 194.861L111 195.139L110 195.361L108 195.778L107 195.917L105 196.083L104 196.222L102 196.611L100 196.917L99 196.972L97 197L96 197L94 197L92 197.083L90 197.389L89 197.611L87 197.944L86 198.056L84 198.389L82 198.861L81 199.139L79 199.694L77 200.389L75 201.25L74 201.75L72 202.611L70 203.333L68 204L67 204.306L66 204.611L64 205.139L63 205.389L62 205.694L61 206L60 206.333L58 207L56 207.667L55 208.028L54 208.389L52 209.278L50 210.389L48 211.611L46 212.806L45 213.389L43 214.611L41 215.75L40 216.222L39 216.778L38 217.222L37 217.778L36 218.25L35 218.833L33 220.028L31.0278 221.417L30.0833 222.222L28.5 224.028L27.9444 225L27.5 226L27.1111 228L27.1111 229L27.4722 231L27.8333 232L28.1667 232.944L28.7222 234.5L29 236M289 202L289.778 200.75L290.306 200.361L291.111 199.639L293 198.389L294 197.833L295 197.278L296 196.833L298 196L299 195.611L301 194.806L302 194.389L304 193.611L305 193.167L306 192.75L307 192.222L309 191.25L310 190.833L311 190.389L313 189.611L314 189.167L315 188.722L316 188.167L317 187.611L319 186.306L320 185.583L321.972 183.917L323.694 182.056L324.222 181.5L325 180L323.5 180.778L322.944 181.306L321 182.944L319 184.528L317 185.75L316 186.222L314 187.222L313 187.778L312 188.222L311 188.778L310 189.222L309 189.778L308 190.222L307 190.778L306 191.222L305 191.75L303 192.611L301 193.389L300 193.806L298 194.611L297 195L295 195.889L294 196.417L292 197.667L291 198.333L289.056 199.611L288.5 199.944L287 201L285.556 200.528L285 200.167L283 199L283.778 198.028L284.306 197.833L285.111 197.361L287 196.611L289 195.75L290 195.222L291 194.778L292 194.222L293 193.778L294 193.222L295 192.75L297 191.611L299 190.389L300 189.833L301 189.25L303 188.222L304 187.75L306 186.611L307 185.972L309 184.667L310 184L312 182.583L313.972 180.917L315.694 179.056L316.222 178.5L317 177L315.5 177.778L314.944 178.306L313.944 179.111L312 180.917L310 182.583L309 183.306L307 184.611L306 185.167L305 185.75L304 186.25L302 187.389L300 188.611L299 189.167L298 189.75L296 190.778L295 191.222L294 191.778L293 192.222L292 192.778L291 193.222L289 194.167L288 194.611L286 195.389L285 195.806L283 196.528L281 196.833L279.111 196.556L278.306 196.139L277.778 195.972L277 195L278.5 194.194L279.056 194L281 193.167L282 192.75L283 192.25L285 191.389L287 190.611L289 189.75L290 189.222L292 188.222L293 187.75L294 187.167L295 186.611L296 185.972L297 185.333L299 184L301 182.667L302 182L304 180.583L306 179L308 177.389L309.944 175.833L310.5 175.417L312 174L311 173L308.944 175.056L307 176.917L306 177.778L305 178.583L303 180L302 180.667L300 182L298 183.333L297 183.972L296 184.611L294 185.75L293 186.222L292 186.778L291 187.222L290 187.778L289 188.222L288 188.778L287 189.222L285 190.167L284 190.611L282 191.389L280 192.25L279 192.75L277 193.528L275.056 193.861L273.5 193.722L272 193L272.778 191.944L273.306 191.611L274.111 190.972L276 189.806L277 189.194L278 188.611L279 187.972L281 186.667L282 186.028L283 185.389L285 184.25L286 183.778L287 183.25L288 182.833L289 182.389L290 182.028L291 181.667L293 181L294 180.667L295 180.333L297 179.583L299 178.583L301 177.306L302 176.583L303.944 174.972L304.944 174.028L307 172L305.5 172.361L303.944 173.333L302 174.944L300 176.528L298 177.722L297 178.167L295 178.972L294 179.333L293 179.667L291 180.333L290 180.667L288 181.389L287 181.833L286 182.278L285 182.833L284 183.389L282 184.667L281 185.333L279 186.667L278 187.333L276 188.611L275 189.167L274 189.75L272.056 190.778L271.5 191L270 192L268.5 191.556L267 190.972L266.5 190.806L265 190L265.778 189L266.306 188.778L267.111 188.194L268.028 187.778L269 187.222L271 186.222L272 185.778L274 184.75L276 183.611L278 182.389L280 181.25L281 180.778L282 180.222L283 179.778L284 179.25L285 178.833L286 178.389L288 177.667L289 177.333L291 176.667L293 175.972L294 175.611L296 174.722L298 173.611L299.944 172.389L300.5 172.056L302 171L300.75 170.917L299.556 171.306L297.917 172.194L296.972 172.75L296 173.222L295 173.75L293 174.611L292 174.972L290 175.667L288 176.333L287 176.667L285 177.389L284 177.833L283 178.25L282 178.778L281 179.25L279 180.389L277 181.611L275 182.75L274 183.222L273 183.778L272 184.222L270 185.222L269 185.778L268 186.222L267 186.778L265 187.75L263 188.444L261 188.5L259.056 187.972L258.5 187.806L257 187L257.778 186L258.306 185.778L259.111 185.194L260.028 184.778L262 183.778L263 183.222L264 182.778L265 182.222L266 181.778L267 181.25L269 180.389L270 180.028L272 179.333L274 178.611L275 178.167L276 177.722L278 176.611L280 175.389L282 174.278L283 173.861L284 173.472L286 173.083L288 172.972L289 172.917L291 172.528L292 172.139L293 171.722L294.917 170.528L296.611 168.917L297.389 168L298.222 167.083L300.028 165.472L302 164.25L303 163.778L304 163.222L305 162.778L306 162.222L307 161.778L308 161.222L309 160.778L310 160.25L312 159.472L312.944 159.25L314.5 159.028L316 159L317 160.5L317.25 161.056L317.861 162.056L318.389 163L319.611 165L320.833 167L321.472 167.972L323.056 169.778L324.75 171.389L325.5 172.222L326.472 174.028L326.694 176L326.583 177L326.389 178L326.056 180L325.944 181L325.611 183L325.389 184L325.083 186L324.917 188L324.583 190L324.306 191L323.667 193L323 194.944L322.667 195.944L322.444 196.5L322 198L323.25 197.222L323.639 196.694L324.361 195.889L325.611 194L326.75 192L327.222 191L327.778 190L328.25 189L329.389 187L330.583 185L331.583 183L332.306 181L332.694 179L332.5 177L332.139 176L331.722 175L330.611 173L329.972 172L328.667 170L328 169L326 166L324.667 164L324 163L322.583 161.028L321.778 160.083L319.972 158.5L318 157.5L316 157.111L315 157.111L313 157.472L312 157.833L310 158.611L308 159.333L306 160L304 160.667L302 161.306L301 161.583L299 161.917L297 162.083L295 162.389L294 162.639L293 162.861L292.056 163.139L291.056 163.389L289 164L289.778 162.583L290.306 162.167L291.111 161.361L293 160.028L294 159.389L296 158.25L297 157.778L298 157.25L300 156.389L302 155.667L303 155.333L304 155L306 154.417L308 154.056L309 153.944L310 153.778L311 153.611L312 153.389L314 153.167L316 153.389L317 153.611L319 154L321 154.417L322 154.694L324 155.417L325 155.917L326 156.5L328 158.083L329.917 160L331.583 162L332.306 163L333.667 165L334.972 167L335.611 168L336.722 170L337.167 171L337.611 172L338.306 174L338.583 175L338.917 177L338.917 179L338.778 180L338.611 181L338.222 183L338.083 184L337.917 186L337.778 187L337.611 188L337.361 189L336.861 191L336.611 192L335.972 194L335.583 195L334.5 197L333.75 198L332.917 198.972L331 200.75L329 202.056L328 202.5L327 202.75L326 202.917L324 203L322 203L321 202.972L320 202.917L318 202.611L317 202.389L315 202.083L314 202.028L312 202L311 202L305 202L289 202M477 160L475.5 160.278L474.944 160.472L473 161.194L472 161.611L470 162.333L469 162.667L467 163.389L466 163.806L464 164.611L462 165.389L460 166.25L459 166.75L457 167.611L455 168.389L454 168.833L453 169.25L451 170.222L450 170.778L449 171.222L447 172.25L446 172.833L445 173.389L444 174.028L443 174.667L441 176L439 177.333L438 178L436 179.389L435 180.139L434 180.861L433 181.639L432 182.389L430 184.083L428 186L426 188L424 189.917L422 191.611L421 192.361L419 193.861L418 194.611L417 195.306L415 196.611L414 197.194L412 198.389L411 199.028L409 200.417L407.111 202.083L406.306 203.028L405.111 205L404.694 206L403.889 208L402.694 209.889L400.972 211.278L399 211.889L397 212L395 212.083L394 212.222L392 212.611L390 213L388 213.417L387 213.694L385 214.306L384 214.583L382 214.917L380 215.028L379 215.083L377 215.389L376 215.611L374 215.917L372 216L370 215.917L368 215.611L367 215.389L365 215.083L363 214.972L362 214.917L360 214.611L359 214.389L357 214.083L356 214.028L355 214L353 213.972L352 213.917L350 213.611L349 213.389L347 213.083L346 213.028L344 213L342 212.972L341 212.917L339 212.611L338 212.389L336 212.083L335 212.028L333 212L332 212L330 211.917L329 211.778L328 211.611L326 211.222L325 211.083L323 210.917L321 210.611L319 210.139L318 209.833L317 209.556L315 208.75L314 208.222L313 207.75L312 207.167L310.056 206.056L309.5 205.694L308 205L308.778 204.278L309.306 204.25L310.111 204.056L311.028 204.028L312 204L314 204L316 204L317 204L319 204.028L320 204.083L322 204.389L323 204.611L325 204.917L326 204.972L328 205L330 205L331 205.028L332 205.083L334 205.389L335 205.611L337 205.917L338 205.972L340 206L343 206L344 206L346 206.028L347 206.083L349 206.389L350 206.611L352 206.917L353 206.972L355 207L357 207.028L358 207.083L360 207.389L361 207.611L363 207.917L364 207.972L366 208L367 208.028L368 208.083L370 208.389L371 208.611L373 208.917L374 208.944L375 208.917L377 208.611L378 208.389L380 208L382 207.611L384 207.139L385 206.833L386 206.556L388 205.75L389 205.222L391 204.222L392 203.778L393 203.222L394 202.778L395 202.222L396 201.75L398 200.611L399 199.972L401 198.667L403 197.306L404 196.611L406 195.139L407 194.361L408 193.611L410 191.944L411 191.056L413 189.389L414 188.611L416 186.917L418 185.083L420 183.389L421 182.611L422 181.806L424 180.194L425 179.389L427 177.861L428 177.139L429 176.361L430 175.639L431 174.861L433 173.361L434 172.639L435 171.861L437 170.389L438 169.694L439 169L440 168.333L442 167L446 164.333L448 163L450 161.667L451 161.028L452 160.389L453 159.806L455 158.611L457 157.389L458 156.833L459 156.278L461 155.389L463 154.694L464 154.417L465 154.222L466 154.083L468 154L470 154.028L471 154.083L473 154.5L474.889 155.5L476.278 157.028L476.889 158.5L477 160M477 162L476.889 163.5L476.389 165.056L475.972 166L475.083 168L474.389 170L474.139 171L473.611 173L473 175L472.667 176L471.972 178L471.611 179L470.75 181L470.222 182L469.778 183L469.222 184L468.778 185L468.222 186L467.778 187L466.75 189L466.167 190L465.611 191L464.389 193L463.25 195L462.806 195.944L462.222 196.944L462 197.5L461 199L457.944 199L457 199L456 199L454 199.083L452 199.417L451 199.694L449 200.333L448 200.667L446 201.389L445 201.806L443 202.611L441 203.389L440 203.833L439 204.25L438 204.778L436 205.75L435 206.167L434 206.611L432 207.389L430 208.167L429 208.528L427 208.917L425 209L423 209L421 209L420 208.972L419 208.917L417 208.611L416 208.389L414 208.167L412 208.417L411 208.694L410 209L408.056 209.583L406.5 209.917L405 210L405.25 208.5L405.417 207.944L406.028 206L406.417 205.028L407.5 203.222L409.083 201.694L410.028 201.028L412 199.806L413 199.194L414 198.611L416 197.306L417 196.611L418 195.861L420 194.361L421 193.611L423 191.917L425 190L426 189L428 187.083L430 185.389L431 184.611L432 183.806L434 182.194L435 181.389L436 180.639L437 179.861L439 178.444L441 177.194L442 176.611L444 175.389L445 174.833L446 174.25L447 173.778L449 172.778L451 171.778L452 171.222L453 170.778L454 170.222L456 169.25L457 168.833L458 168.389L460 167.611L462 166.806L463 166.389L465 165.611L466 165.194L467 164.806L469 164L471 163.194L472 162.833L473 162.472L473.944 162.25L475.5 162.028L477 162M287 202L286.222 202.806L285.694 202.972L283.972 203.583L282 203.917L280 204L279 204L277 204L273 204L268 204L266 204L265 203.972L264 203.917L262 203.611L261 203.389L259 203.083L258 203.028L256 203L255 203L249 203L247 203L246 202.972L245 202.917L243 202.611L242 202.389L240 202.083L239 202.028L237 202L236 202L232 202L230 201.972L229 201.917L227 201.611L226 201.389L224 201.083L223 201.028L221 201L220 201L215 201L201 201L159 201L148 201L145 201L144 201L142 200.972L141 200.917L139 200.611L137 200.222L136 200.083L134 199.917L132 199.611L131 199.389L129 199.083L127 199.028L126 199.083L124 199.417L123 199.694L121 200.389L120 200.806L118.056 201.528L117.5 201.722L116 202L116.778 203.5L118.111 204.944L119.028 205.667L121 206.667L122 206.889L123 206.972L125 206.917L127 206.611L128 206.389L129 206.222L129.944 206.083L131.5 206L133 206L133.806 207.5L133.972 208L134.556 209.5L135 211L147 211L150 211L151 211L153 210.972L154 210.917L156 210.611L157 210.389L159 210.083L160 210.028L162 210L165 210L166 210L168 209.972L169 209.917L171 209.611L173 209.222L174 209.083L176 209L177 209L179 209L186 209L189 209L190 209L192 209.028L193 209.083L195 209.389L196 209.611L198 209.917L199 209.972L200 210L202 210L205 210L206 210L208 209.917L209 209.778L211 209.389L213 209.083L214 209.028L216 209L217 208.972L218 208.917L220 208.611L221 208.389L223 208.083L224 208.028L226 208L228 208L231 208L238 208L240 208L241 208L243 208.083L244 208.222L246 208.611L248 208.917L249 208.972L251 209L253 209.028L254 209.083L256 209.389L258 209.778L259 209.917L261 210L262 210L265 210L273 210L298 210L307 210L310 210L312 210.028L313 210.083L315 210.417L316 210.694L318 211.306L319 211.583L321 212L322 212.194L323 212.389L325 212.778L326 212.917L328 213.083L329 213.222L331 213.611L333 213.917L335 214L337 214L338 214L340 214.028L341 214.083L343 214.389L344 214.611L346 214.917L347 214.972L348 215L350 215L352 215.028L353 215.083L355 215.389L357 215.778L358 215.917L360 216.083L361 216.222L363 216.611L365 216.917L366 216.972L367.944 217L368.944 217L371 217L370.222 217.722L369.694 217.75L367.972 218.056L366 218.389L364 218.778L363 218.917L361 219.083L359 219.389L358 219.611L356 219.917L355 219.972L353 220L351 220L324 220L316 220L314 220L313 220L311 219.917L310 219.778L309 219.583L308 219.306L306 218.611L304 217.806L303 217.389L301 216.694L300 216.417L298 216.083L296 216L294 216L289 216L274 216L272 216L231 216L229 216L228 216L226 215.972L225 215.917L223 215.611L222 215.389L220 215.083L219 215.028L217 215L215 215L211 215L209 215L207 215.083L205 215.389L204 215.611L202 215.917L200 216L199 216L197 216L190 216L171 216L164 216L162 216L160 216.028L159 216.083L157 216.389L155 216.778L154 216.917L152 217.083L150 217.389L148 217.778L147 217.917L145 218.083L144 218.222L142 218.611L140 218.917L139 218.972L138 219L136 219.028L135 219.083L133 219.389L132 219.611L130 219.917L129 219.972L127 220L125 220L124 220L122 220.083L120 220.472L118 221.167L117 221.528L115 221.917L113 222.083L111 222.389L109.056 222.778L108.5 222.917L107 223L107 227L105.5 227.25L103.944 227.722L102.111 228.583L101.306 229.25L100.778 229.611L100 231L109 231L111 231L113 230.972L114 230.917L116 230.611L117 230.389L118 230.222L119 230.056L120 229.944L122 229.611L123 229.389L124 229.194L126 228.806L127 228.611L128 228.389L129 228.194L131 227.806L133 227.389L135 227.056L136 226.944L138 226.611L139 226.389L141 226.083L142 226.028L143 226L145 225.972L146 225.917L148 225.611L149 225.389L151 225.083L152 225.028L153 225L155 225L161 225L181 225L205 225L213 225L216 225L218 224.972L219 224.917L221 224.611L222 224.389L224 224.083L226 224L227 224L230 224L237 224L258 224L271 224L274 224L275 224L277 224.028L278 224.083L280 224.389L281 224.611L283 224.917L285 225.028L286 225.083L288 225.389L290 225.778L291 225.917L293 226.083L295 226.389L297 226.778L298 226.917L300 227.083L302 227.389L303 227.611L305 227.917L306 227.972L308 228L310 228L317 228L323 228L325 228L326 227.972L327 227.917L329 227.611L331 227.222L332 227.083L334 227L336 227L339 227L350 227L354 227L356 226.972L357 226.917L359 226.611L360 226.389L362 226.083L363 226.028L365 226L367 226L368 226L369 225.972L370 225.917L372 225.611L373 225.389L375 225.056L376 224.944L378 224.611L380 224.194L382 223.806L383 223.583L384 223.306L386 222.667L388 222L395 219.667L397 219L398 218.694L399 218.417L400 218.194L402 217.806L404 217.389L406 217.083L408 216.917L410 216.611L411 216.389L413 216.056L414 215.944L416 215.611L417 215.389L418 215.194L420 214.806L421 214.611L422 214.389L423 214.194L425 213.806L426 213.611L428 213.139L429 212.861L431 212.361L432 212.139L434 211.611L435 211.306L437 210.694L438 210.389L440 209.861L441 209.611L443 208.972L444 208.611L446 207.75L447 207.25L448 206.833L449 206.389L450 206.028L452 205.417L454 205.083L455.944 205L458 205L457.917 206.5L457.528 208.056L456.722 209.917L456.139 210.75L455.528 211.5L453.917 212.528L452 213.139L451 213.361L449 213.861L448 214.139L447 214.361L446 214.639L445 214.861L444 215.139L442 215.639L441 215.861L439 216.361L438 216.639L437 216.861L436 217.139L435 217.361L434 217.639L433 217.861L432 218.139L430 218.611L429 218.806L427 219.194L426 219.389L424 219.861L423 220.139L422 220.361L421 220.611L420 220.806L418 221.194L417 221.389L415 221.861L414 222.139L413 222.361L412 222.611L411 222.806L409 223.194L408 223.389L407 223.611L406 223.806L404 224.194L403 224.389L402 224.611L400 224.944L399 225.056L397 225.389L396 225.611L394 226L392 226.389L391 226.611L389 226.944L388 227.056L387 227.222L385 227.611L383 227.917L382 227.972L380 228.083L378 228.389L377 228.611L375 228.917L374 228.972L372 229.083L370 229.389L368 229.778L367 229.917L365 230.083L364 230.222L362 230.611L360 230.917L359 230.972L357 231L355 231L354 231.028L353 231.083L351 231.389L350 231.611L348 231.917L347 231.972L345 232L344 232L341 232L339 232.028L338 232.083L336 232.389L335 232.611L333 232.917L332 232.972L330 233L329 233L324 233L309 233L288 233L281 233L278 233L277 233L275 232.917L273 232.611L272 232.389L270 232.083L268 232L267 232L265 232L258 232L239 232L225 232L221 232L220 232L218 232.028L217 232.083L215 232.389L214 232.611L212 232.917L210 233L209 233L206 233L199 233L178 233L178.778 234.25L179.306 234.667L180.917 236.222L182.278 238.028L182.667 238.944L182.972 240.5L183 242L184.5 242.028L186.056 242.222L187 242.389L189 242.861L190 243.139L191 243.361L193 243.778L194 243.917L196 244L197 244L198 244L201 244L204 244L205 244L207 243.972L208 243.917L210 243.528L212 242.806L214 242.028L216 241.389L218 240.861L219 240.611L220 240.306L221 240L223 239.333L225 238.694L226 238.417L228 238.083L229 238.028L231 237.917L232 237.778L234 237.389L235 237.222L236 237.083L238 236.917L239 236.778L241 236.389L243 236.083L244 236.028L246 236L247 236L248 236L250 236.083L252 236.389L253 236.611L254 236.778L255 236.917L257 237.083L258 237.222L260 237.611L262 237.917L263 237.972L264 238L266 238L271 238L271 240L278 240L278 242L284 242L284 244L313 244L323 244L326 244L328 243.972L329 243.917L331 243.611L332 243.389L334 243.083L335 243.028L337 243L338 243L340 243L341 243L343 242.972L344 242.917L346 242.611L348 242.222L349 242.083L351 241.972L352 241.917L354 241.611L355 241.389L357 241.083L358 241.028L360 240.972L361 240.917L363 240.611L364 240.389L366 240.083L367 240.028L369 239.972L370 239.917L372 239.611L373 239.361L374 239.139L375 238.861L376 238.639L377 238.389L379 238.083L381 237.917L382 237.778L384 237.389L385 237.194L387 236.806L388 236.611L389 236.389L391 236.083L393 235.917L395 235.611L397 235.194L399 234.806L400 234.611L402 234.139L403 233.861L405 233.389L406 233.194L408 232.806L409 232.611L411 232.139L412 231.861L413 231.639L415 231.139L416 230.861L418 230.389L420 230L422 229.583L424 229L426 228.389L428 227.861L429 227.639L431 227.139L432 226.861L433 226.639L434 226.361L435 226.139L437 225.611L438 225.306L440 224.694L441 224.389L442 224.139L444 223.611L446 223L447 222.667L449 222L450 221.694L451 221.389L452 221.139L453 220.861L453.944 220.639L455.5 220.25L457 220L458 221.5L458.222 222.056L458.806 223.056L459.25 224L460.389 226L461.028 227L462.417 229L464.083 231L465.028 231.972L466 232.917L468 234.611L469 235.361L470 236.139L472 237.611L473 238.306L475 239.694L476 240.417L478 242.083L480 244L481 245L481.972 246L482.917 247L484.583 249L485.972 251L486.583 252L487.5 254L487.917 256L488 258L488 259L488 261L488 262L487.917 264L487.5 265.972L487.056 266.917L485.75 268.528L483.972 269.75L483 270.222L481 271.222L480 271.75L478 272.556L477 272.833L475 273.361L474 273.611L472 273.917L470 273.917L468 273.611L467 273.361L465 272.861L464 272.639L463 272.361L462 272.139L460 271.611L459 271.306L457 270.694L456 270.389L454 269.861L453 269.639L452 269.389L451 269.194L449 268.806L447 268.389L445 268.083L443 267.972L442 267.917L440 267.611L439 267.389L437 267.083L436 267.028L435 267L433 267L431 266.917L429 266.583L427 265.917L425 264.944L424 264.361L422 263.278L420 262.389L418 261.694L417 261.389L416 261.139L414 260.639L413 260.389L411 260.083L409 260L407 260L406 260L403 260L397 260L395 260L394 260.028L393 260.083L391 260.389L390 260.611L388 260.917L387 260.972L386 261L384 260.972L383 260.917L381 260.611L380 260.389L378 260.056L376 259.778L375 259.611L373 259.222L372 259.083L370 258.972L369 258.917L367 258.611L366 258.389L364 258.111L363 258.111L361 258.417L360 258.694L358 259.389L357 259.806L355.028 260.639L354.111 261.028L353.306 261.583L352.778 261.833L352 263L349.944 263.028L348.944 263.083L347 263.389L346 263.611L344 263.917L342 264.083L341 264.222L339 264.611L337 264.917L336 264.972L334 265.083L332 265.389L331 265.611L329 265.917L328 265.972L326 266L325 266L323 266L314 266L311 266L309 266.028L308 266.083L306 266.389L305 266.611L303 266.917L301 267.028L300 267.083L298 267.389L297 267.611L295 267.917L293 268.083L292 268.222L291 268.389L289.028 268.889L287.306 269.639L286.778 269.861L286 271L287.5 270.75L289.056 270.389L290 270.194L292 269.806L293 269.611L295 269.222L296 269.083L298 268.972L299 268.917L301 268.611L302 268.389L304 268.083L305 268.028L307 268L310 268L320 268L322 268L323 268L325 267.972L326 267.917L328 267.611L329 267.389L331 267.056L332 266.944L334 266.611L335 266.389L337 266.083L338 266.028L340 265.972L341 265.917L343 265.611L344 265.389L346 265.083L347 265.028L349 264.972L350 264.917L352 264.611L353 264.389L355 264.083L356 264.028L358 264L360 264.083L361 264.222L362 264.417L363 264.694L365 265.389L366 265.806L367 266.194L369 267.083L369.972 267.639L370.889 268.306L371.667 269.111L372.556 271L372.583 272L371.889 274L370.667 276L369.389 278L368.194 280L367.611 281L366.306 283L365.583 284L363.917 285.917L362 287.583L361 288.306L359 289.611L358 290.167L357.056 290.722L356.056 291.167L355.5 291.5L354 292L353.472 290.528L352.5 289.194L351.75 288.5L349.972 287.5L348 287.083L346 287L344 287.083L343 287.222L341 287.611L339 287.917L338 287.972L336 288L335 288L333 288L331 288.083L329 288.389L328 288.611L327 288.806L325 289.194L324 289.389L323 289.611L321 289.917L319 290L318 290L316 289.917L315 289.778L313 289.389L311 289.083L310 289.028L308.056 289L306 289L306 290L305 292L303.5 291.917L302.944 291.778L301.944 291.611L300 291.222L299 291.056L297.111 290.722L296.306 290.333L295.778 290.139L295 289L293.5 289.5L292.944 289.833L291.056 290.75L290.056 291.167L289.5 291.5L288 292L288.083 294.056L288.417 295.944L289 298L287.5 297.472L286.944 297.111L285.944 296.583L284 295.306L283 294.583L282 293.806L280 292.194L278 290.611L277 289.806L275 288.194L274 287.389L273 286.639L271 285.139L270 284.389L268 283.028L267 282.389L265 281.25L264 280.778L262 279.861L261 279.472L259.056 279.083L257.5 279L256 279L256.25 280.5L256.611 282.056L256.806 283L257.194 285L257.389 286L257.778 288L257.889 289L257.667 290.972L257.278 291.889L256.667 292.667L255.889 293.278L254 293.889L253 294L252 294.083L250 294.417L249 294.722L247 295.639L245.083 297.083L243.389 298.75L242.611 299.528L240.917 300.722L239 301.528L237 301.889L236 301.889L234 301.583L233 301.306L231 300.667L229 299.972L228 299.611L227 299.167L226 298.722L225 298.139L224 297.556L222 296.139L221 295.361L220 294.639L219 293.861L217 292.389L215 291.028L214 290.389L212 289.25L211 288.778L210 288.25L208 287.444L207 287.167L205 286.639L204 286.389L202 286.083L201 286.028L199 286.083L197 286.389L196 286.611L194 286.917L192 287.028L191 287.083L189 287.389L188 287.611L186 287.917L185 287.972L183 288.028L182 288.083L180 288.389L179 288.611L177 288.917L176 288.972L175 289L173 288.917L172 288.778L170 288.389L168 288.083L167 288.028L166 288L165 288L163 288L161 287.972L160 287.917L158 287.611L157 287.389L155 287.083L154 287.028L152 287L151 287L149 287L147 286.917L145 286.611L143 286.222L142 286.083L140 286L139 286L137 286L132 286L115 286L110 286L108 286L106 285.917L104 285.611L103 285.389L101 285.083L99 285L98 285L95 285L87 285L85 285L84 285L82 284.972L81 284.917L79 284.611L78 284.389L76 284.083L75 284.028L73 284L71 283.917L70 283.778L69 283.611L67 283.139L66 282.861L64 282.361L63 282.139L61 281.556L59 280.75L58 280.222L57 279.75L55 278.611L53 277.306L52 276.583L50 275L48.0278 273.389L47.0833 272.611L46.2222 271.778L44.6111 269.972L42.9444 268L42.0556 267L40.3889 265L39.6389 264L38.8611 263L37.3889 261L36.0278 259L34.8056 257L34.1944 256L33.6111 255L32.3333 253L31.6667 252L30.3889 250L29.8333 249L29.2778 248L28.8333 247L28.3889 246L27.6944 244L27.4167 243.056L27.2222 242.056L27.0833 241.5L27 240L28.1667 240.778L28.4167 241.306L28.9722 242.111L29.3611 243.028L30.25 245L30.7778 246L31.25 247L31.8333 248L32.3889 249L33.6111 251L34.8333 253L35.4722 254L37.0833 255.972L37.9722 256.889L38.9444 257.694L39.5 258.222L41 259L39.5278 257.5L38.1944 255.944L37.4722 255L36.1944 253L35.6111 252L34.3889 250L33.8333 249L33.25 248L32.7778 247L32.2222 246L31.7778 245L31.25 244L30.4444 242L30.1667 241L29.8611 240.056L29.6111 239.056L29 237L30.0556 235.5L30.25 233.944L29.8056 232L29.25 230L29.1111 228L29.5 226.028L30.5 224.222L31.25 223.417L32.0833 222.694L34 221.389L35 220.833L37 219.778L38 219.222L39 218.778L40 218.222L41 217.75L42 217.167L44 216L45 215.389L47 214.194L48 213.611L50 212.389L51 211.833L52 211.25L53 210.778L54 210.25L56 209.389L57 209.028L59 208.333L60 208L62 207.389L63 207.139L65 206.611L66 206.306L67 206L69 205.333L71 204.667L72 204.333L74 203.611L76 202.75L77 202.25L79 201.389L80 201.028L82 200.389L83 200.139L85 199.639L86 199.389L88 199.083L90 199L92 199L93 199L95 198.972L96 198.917L98 198.611L99 198.389L101 198.083L103 198L105 197.917L107 197.611L109 197.194L111 196.806L112 196.611L114 196.139L115 195.861L116 195.639L117 195.361L118 195.139L120 194.639L121 194.361L122 194.139L124 193.639L125 193.389L127 193.083L129 193L131 193L132 193L135 193L136 193L137 193L139 192.917L140 192.778L142 192.389L143 192.194L145 191.806L146 191.611L148 191.222L149 191.083L150 191.028L152 190.917L153 190.778L155 190.389L156 190.194L158 189.806L159 189.611L160 189.389L162 189.083L164 188.917L165 188.778L167 188.389L169 188.083L170 188.028L172 187.917L174 187.611L175 187.389L177 187.083L178 187.028L180 187L181 187L183 187L185 186.972L186 186.917L188 186.611L189 186.389L191 186.083L192 186.028L194 186L195 186L197 186L206 186L220 186L223 186L225 186L227 186.028L228 186.083L230 186.389L231 186.611L233 186.917L234 186.972L236 187L237 187L240 187L242 187.028L243 187.083L245 187.389L246 187.611L248 187.917L249 187.972L250 188L252 188L254 188.083L256 188.417L257 188.694L258 189L260 189.667L262 190.333L263 190.667L265 191.389L266 191.833L267 192.25L268 192.778L270 193.778L271 194.222L272 194.778L273 195.222L274 195.778L275 196.222L276 196.778L278 197.778L279 198.222L280 198.778L281 199.222L282 199.778L283.944 200.75L284.944 201.167L285.5 201.5L287 202M58 228.5L56.0278 229.5L55.0833 230.25L53.4722 232.028L52.2778 234L51.4722 236L51.25 237L51.0833 238L51 240L51 241L51.0833 243L51.25 244L51.4722 245L51.8611 246L52.2778 247L53.4722 249L55.0833 250.889L56.0278 251.694L58 252.889L59 253.278L60 253.583L62 253.889L63 253.889L64 253.778L66 253.278L68 252.361L69.9167 250.889L71.5278 249L72.1389 248L73.1389 246L73.5278 245L73.75 244L73.9167 243L73.9722 242L74 240L73.9167 238L73.75 237L73.5278 236L72.7222 234L71.5278 232.028L70.75 231.083L68.9722 229.5L67 228.5L65 228.083L63 228L62 228L60 228.083L59 228.25L58 228.5M293 249L293.361 250.5L293.694 251.056L294.25 252.056L295.528 254L296.5 255.944L296.917 257.5L297 259L306 259L308 259L310 258.972L311 258.917L313 258.611L315 258.222L316 258.083L318 258L319 258L322 258L331 258L334 258L336 258L338 257.917L340 257.611L341 257.389L343 257.083L344 257.028L346 257L347 257L354 257L356 257L358 256.972L359 256.917L361 256.611L362 256.389L364 256.083L366 256L368 256L369 256L371 255.972L372 255.917L374 255.611L375 255.389L377 255.083L378 255.028L380 255L381 255L384 255L385 255L387 254.972L388 254.917L390 254.611L391 254.389L393 254.083L395 254L397 253.917L399 253.611L400 253.361L402 252.861L403 252.611L405 252L407 251.333L409 250.611L410 250.167L411 249.75L413 248.778L414 248.222L415 247.778L417 246.778L418 246.25L420 245.444L421 245.167L423 244.639L424 244.389L426 244.083L427 244.028L429 243.917L431 243.583L432 243.306L434 242.667L436 242L438 241.333L439 240.972L440 240.611L442 239.75L443 239.25L444 238.833L446 238.028L448 237.389L449 237.139L450 236.861L451 236.639L452 236.361L453 236.139L454 235.861L455 235.639L456 235.361L457 235.139L458.944 234.611L461 234L461 229L458.944 228.417L457 228.083L456 228.028L455 228L453 228L451 228L449 228.083L448 228.222L447 228.417L445 229L444 229.333L442 230L439 231L438 231.333L436 232.028L435 232.389L434 232.833L433 233.25L432 233.75L430 234.611L429 234.972L428 235.333L426 236L424 236.667L423 237L421 237.611L419 238.139L418 238.361L417 238.639L416 238.861L415 239.139L413 239.611L412 239.806L410 240.194L408 240.611L406 240.944L405 241.056L403 241.389L402 241.611L401 241.806L399 242.194L398 242.389L396 242.778L395 242.917L393 243.083L392 243.222L390 243.611L388 243.944L387 244.056L385 244.389L383 244.778L382 244.917L380 245.083L378 245.389L376 245.778L375 245.917L373 246.083L372 246.222L371 246.389L369 246.778L368 246.917L366 247.083L365 247.222L363 247.611L361 247.917L359 248.083L358 248.222L356 248.611L354 248.917L353 248.972L351 249L349 249.028L348 249.083L346 249.389L345 249.611L343 249.917L342 249.972L340 250L339 250L335 250L323 250L311 250L307 250L306 250L304 249.972L303 249.917L301 249.611L300 249.389L298 249.083L297 249.028L295.056 249L293 249M61 229.25L63 229.111L65 229.472L66.9722 230.278L68.75 231.472L69.5278 232.25L70.1389 233.083L71.2222 235L71.75 236L72.5278 238L72.8889 240L72.7778 242L72.3056 244L71.5833 246L71.0833 247L70.5 247.972L68.9167 249.75L67.9722 250.5L66 251.5L65 251.75L63 251.972L62 251.972L61 251.917L59 251.5L57.0278 250.5L56.0833 249.75L54.5 247.972L53.5 246L53.0833 244L53 242L53 241L53 240L53.0833 238L53.25 237L53.5 236L53.9444 235L55.25 233.028L56.0833 232.083L58 230.5L60 229.5L61 229.25M65 247L65.9722 245.5L66.5556 243.944L66.9167 242L66.9722 241L66.9167 239L66.5556 237.056L65.9722 235.5L65 234L63.5 234L61.9444 234.028L61 234.111L59.0833 234.722L58.25 235.333L56.9444 237.028L56.5 238L56.1111 240L56.1111 241L56.5 243L57.5 244.889L59.0833 246.278L61 246.889L61.9444 246.972L62.9444 247L65 247M91 234L91.0278 235.5L91.2222 237.056L91.4167 238L92 240L92.6667 242L93.3056 244L93.5833 245L93.9167 247L94.0833 249L94.2222 250L94.6111 252L94.9167 254L94.9722 255L95 257L94.9722 259L94.9167 260L94.6111 262L94.2222 263.944L94.0278 265.5L94 267L94.9722 266.222L95.1389 265.694L95.5556 264.889L95.7778 263.972L96.1944 262L96.3889 261L96.6111 260L96.8333 258L96.7778 257L96.6111 255L96.6944 253L96.9167 251L96.9722 249.028L96.7222 247.333L96.3333 246.722L96.1389 246.361L95 246L95.4167 244.556L95.75 243.444L96 242L94.7778 241.222L94.4444 240.694L93.4722 238.972L92.8333 237.028L92.5833 236.111L92.1389 235.306L91.9722 234.778L91 234M120 237L120.361 238.25L120.722 238.667L121.333 239.444L123.028 241.083L124.889 242.944L126.222 244.5L127 246L130.056 246L132 246L134 246L136 245.917L137 245.778L138 245.583L140 245L141 244.667L142 244.333L144 243.611L145.944 242.806L146.5 242.5L148 242L148 237L120 237M41 259L41.7778 260.417L42.3056 260.806L43.0556 261.556L44.5 262.472L46 263L45.2222 261.583L44.6944 261.194L43.9444 260.444L42.5 259.528L41 259M92 269L91 271L92.0833 270L92.4167 269.667L92 269M272 280L272.917 281.806L273.5 282.556L275.083 283.5L277 283.917L279 284L280 284L281 284L283 284L285 284.083L287 284.389L288 284.611L290 285L292 285.389L293.972 285.667L294.889 285.583L296.222 284.722L296.417 283.944L296.611 283.472L296 282L303 282L305 282L306 282.028L307 282.083L309 282.472L311 283.167L311.944 283.528L313.5 283.917L315 284L315 280L316 279L317.5 279.028L318.056 279.083L320 279.389L321 279.639L323 280.167L324 280.472L326 281.472L327 282.139L328.944 283.306L330.5 283.889L332 284L332.083 281.944L332.417 280.056L333 278L334.5 278.25L336.056 278.611L338 278.917L339 278.972L341 279L343 279.028L344 279.083L346 279.389L346.944 279.611L347.944 279.778L348.5 279.917L350 280L350 275L351.5 275.083L353.056 275.472L354.944 276.194L355.5 276.5L357 277L357 281L361 281L361 279.5L360.917 277.944L360.75 277L360.5 276L359.5 274.083L358.75 273.25L356.972 271.944L356 271.5L354 271.083L352 271L350 271.083L349 271.222L348 271.389L346 271.778L345 271.917L343 272.028L342 272.083L340 272.389L339 272.611L337 272.917L336 272.972L334 273L333 273L331 273L329 273.083L327 273.389L325 273.778L324 273.917L322 274.028L321 274.083L319 274.389L318 274.611L316 274.917L315 274.972L313 275.028L312 275.083L310 275.389L309 275.611L307 275.917L306 275.972L304 276L303 276.028L302 276.083L300 276.389L298 276.778L297 276.917L295 277.028L294 277.083L293 277.222L291 277.611L290 277.806L288 278.194L287 278.389L286 278.611L284 278.917L282 279L281 279L279 279L278 279L276 279.028L275.056 279.056L274.056 279.25L273.5 279.278L272 280M88 274L86 276L86 277L87.3611 276.25L88.0833 275.194L88.3611 274.75L88 274M334 291L335.5 292.111L337.056 292.417L338 292.278L340 291.611L341 291.306L342 291.111L343 291.028L344 291L346 291L351 291L350.222 291.75L349.694 291.833L348.889 292.194L347.972 292.472L346 293.5L345 294.25L344 295.083L342 296.917L341 297.75L340 298.5L338 299.583L337 299.972L336 300.306L334 300.861L333 301.111L331 301.389L329 301.333L328 301.278L326 301.417L324 301.806L322 302.194L321 302.389L320 302.611L319 302.806L317 303.194L315 303.611L314 303.75L313 303.806L311 303.306L309 302.222L308 301.694L306.056 301.111L305.5 301.028L304 301L304 303L302.5 302.972L300.944 302.75L300 302.5L298.028 301.5L297.111 300.75L295.722 299.028L295.111 297.5L295 296L296.5 296.75L297.056 297.194L298.944 298.306L300.5 298.889L302 299L302 295L304.056 295L305.056 295L307 295.111L308 295.333L309 295.694L310.944 296.806L311.5 297.25L313 298L313 294L314.5 293.75L316.056 293.389L318 293.167L319 293.278L320 293.472L322 294.25L323 294.75L323.944 295.139L325.5 295.722L327 296L327 292L329.056 291.917L330.944 291.611L332.5 291.25L334 291z"/>
	</g>
    <!--Testis:精巣-->
    <g class="tissue" id="7" onClick="click(this)">
		<path d="M183 275L183 277L184.5 277.444L185.056 277.667L186.056 278L188 278.611L189 278.861L190 279.139L192 279.611L194 279.944L195 280.056L196 280.222L197 280.389L198 280.611L200 280.917L201 280.972L203 281L205 281L206 281.028L207 281.083L209 281.389L210 281.611L212 281.917L213 281.972L215 282L216 282L218 281.972L219 281.917L221 281.611L222 281.389L224 281.083L225 281.028L227 281L229 280.972L230 280.917L232 280.611L234 280.222L235 280.083L237 279.917L239 279.611L240 279.361L241 279.139L243 278.611L244 278.306L245.944 277.667L246.5 277.444L248 277L248 275L246.5 274.028L245.944 273.861L244.944 273.417L243 272.861L242 272.639L241 272.361L240 272.139L239 271.861L237 271.389L235 271.083L234 271.028L232 270.972L231 270.917L229 270.611L228 270.389L226 270.083L225 270.028L224 270L222 270L216 270L209 270L207 270L206 270.028L205 270.083L203 270.389L202 270.611L200 270.917L199 270.972L197 271.028L196 271.083L194 271.389L192 271.861L191 272.139L190 272.361L189 272.639L188 272.861L186.056 273.417L185.056 273.861L184.5 274.028L183 275z"/>
	</g>
</svg>
